Repository cBournhonesque/lightyear, pull requests merged in 2024-03, with the labels that each got.

#171 Qualify protocolize subcalls
  lightyear/src/protocol/mod.rs
Labels: C-Usability

#177 update all examples to support listen-server mode
  examples/bullet_prespawn/Cargo.toml
  examples/bullet_prespawn/README.md
  examples/bullet_prespawn/src/client.rs
  examples/bullet_prespawn/src/main.rs
  examples/bullet_prespawn/src/protocol.rs
  examples/bullet_prespawn/src/server.rs
  examples/bullet_prespawn/src/shared.rs
  examples/client_replication/Cargo.toml
  examples/client_replication/README.md
  examples/client_replication/assets/settings.ron
  examples/client_replication/src/client.rs
  examples/client_replication/src/main.rs
  examples/client_replication/src/protocol.rs
  examples/client_replication/src/server.rs
  examples/client_replication/src/shared.rs
  examples/interest_management/Cargo.toml
  examples/interest_management/README.md
  examples/interest_management/src/client.rs
  examples/interest_management/src/main.rs
  examples/interest_management/src/protocol.rs
  examples/interest_management/src/server.rs
  examples/interest_management/src/shared.rs
  examples/leafwing_inputs/Cargo.toml
  examples/leafwing_inputs/README.md
  examples/leafwing_inputs/src/client.rs
  examples/leafwing_inputs/src/main.rs
  examples/leafwing_inputs/src/protocol.rs
  examples/leafwing_inputs/src/server.rs
  examples/leafwing_inputs/src/shared.rs
  examples/priority/Cargo.toml
  examples/priority/README.md
  examples/priority/src/client.rs
  examples/priority/src/main.rs
  examples/priority/src/protocol.rs
  examples/priority/src/server.rs
  examples/priority/src/shared.rs
  examples/replication_groups/Cargo.toml
  examples/replication_groups/README.md
  examples/replication_groups/src/client.rs
  examples/replication_groups/src/main.rs
  examples/replication_groups/src/protocol.rs
  examples/replication_groups/src/server.rs
  examples/replication_groups/src/shared.rs
  examples/simple_box/Cargo.toml
  examples/simple_box/README.md
  examples/simple_box/assets/settings.ron
  examples/simple_box/src/client.rs
  examples/simple_box/src/main.rs
  examples/simple_box/src/protocol.rs
  examples/simple_box/src/server.rs
  examples/simple_box/src/shared.rs
  examples/stepper/src/bin/headless.rs
  examples/stepper/src/bin/input_buffer.rs
  examples/stepper/src/bin/prediction.rs
  examples/stepper/src/bin/simple.rs
  examples/stepper/src/bin/step.rs
  examples/stepper/src/client.rs
  examples/stepper/src/server.rs
  examples/stepper/src/stepper.rs
  lightyear/src/connection/netcode/client.rs
Labels: C-Example

#158 Add Steam connection
  examples/bullet_prespawn/Cargo.toml
  examples/bullet_prespawn/assets/settings.ron
  examples/bullet_prespawn/src/client.rs
  examples/bullet_prespawn/src/main.rs
  examples/bullet_prespawn/src/server.rs
  examples/bullet_prespawn/src/settings.rs
  examples/client_replication/Cargo.toml
  examples/client_replication/assets/settings.ron
  examples/client_replication/src/client.rs
  examples/client_replication/src/main.rs
  examples/client_replication/src/server.rs
  examples/client_replication/src/settings.rs
  examples/interest_management/Cargo.toml
  examples/interest_management/assets/settings.ron
  examples/interest_management/src/client.rs
  examples/interest_management/src/main.rs
  examples/interest_management/src/server.rs
  examples/interest_management/src/settings.rs
  examples/leafwing_inputs/Cargo.toml
  examples/leafwing_inputs/assets/settings.ron
  examples/leafwing_inputs/src/client.rs
  examples/leafwing_inputs/src/main.rs
  examples/leafwing_inputs/src/server.rs
  examples/leafwing_inputs/src/settings.rs
  examples/priority/Cargo.toml
  examples/priority/assets/settings.ron
  examples/priority/src/client.rs
  examples/priority/src/main.rs
  examples/priority/src/server.rs
  examples/priority/src/settings.rs
  examples/replication_groups/Cargo.toml
  examples/replication_groups/assets/settings.ron
  examples/replication_groups/src/client.rs
  examples/replication_groups/src/main.rs
  examples/replication_groups/src/server.rs
  examples/replication_groups/src/settings.rs
  examples/simple_box/Cargo.toml
  examples/simple_box/assets/settings.ron
  examples/simple_box/src/client.rs
  examples/simple_box/src/main.rs
  examples/simple_box/src/server.rs
  examples/simple_box/src/settings.rs
  lightyear/Cargo.toml
  lightyear/src/client/resource.rs
  lightyear/src/connection/client.rs
  lightyear/src/connection/mod.rs
  lightyear/src/connection/netcode/server.rs
  lightyear/src/connection/server.rs
  lightyear/src/connection/steam/client.rs
  lightyear/src/connection/steam/mod.rs
  lightyear/src/connection/steam/server.rs
  lightyear/src/lib.rs
  lightyear/src/server/plugin.rs
  lightyear/src/transport/dummy.rs
  lightyear/src/transport/io.rs
  lightyear/src/transport/mod.rs
Labels: C-Enhancement, P-High, A-Transport

#188 Add benchmark for packet packing using the new bitcode version
  benches/Cargo.toml
  benches/bitcode_packing.rs
  benches/spawn.rs
Labels: C-Benchmarks, C-Performance, A-Serialization

#190 run hierarchy send plugins only at send_interval
  lightyear/src/shared/replication/hierarchy.rs
Labels: A-Replication, C-Performance

#192 Remove the client::resource and server::resource modules
  examples/bullet_prespawn/src/client.rs
  examples/client_replication/src/client.rs
  examples/interest_management/src/client.rs
  examples/leafwing_inputs/src/client.rs
  examples/priority/src/client.rs
  examples/replication_groups/src/client.rs
  examples/simple_box/src/client.rs
  lightyear/src/channel/builder.rs
  lightyear/src/client/connection.rs
  lightyear/src/client/mod.rs
  lightyear/src/client/resource.rs
  lightyear/src/connection/client.rs
  lightyear/src/inputs/leafwing/mod.rs
  lightyear/src/lib.rs
  lightyear/src/packet/message.rs
  lightyear/src/protocol/channel.rs
  lightyear/src/protocol/message.rs
  lightyear/src/protocol/mod.rs
  lightyear/src/server/connection.rs
  lightyear/src/server/mod.rs
  lightyear/src/server/resource.rs
  lightyear/src/shared/replication/entity_map.rs
Labels: C-Usability

#202 fix examples
  examples/bullet_prespawn/assets/settings.ron
  examples/bullet_prespawn/src/main.rs
  examples/bullet_prespawn/src/settings.rs
  examples/certificates/cert.pem
  examples/certificates/key.pem
  examples/client_replication/assets/settings.ron
  examples/client_replication/src/main.rs
  examples/client_replication/src/settings.rs
  examples/interest_management/assets/settings.ron
  examples/interest_management/src/main.rs
  examples/interest_management/src/settings.rs
  examples/leafwing_inputs/assets/settings.ron
  examples/leafwing_inputs/src/main.rs
  examples/leafwing_inputs/src/settings.rs
  examples/priority/assets/settings.ron
  examples/priority/src/main.rs
  examples/priority/src/settings.rs
  examples/replication_groups/assets/settings.ron
  examples/replication_groups/src/main.rs
  examples/replication_groups/src/settings.rs
  examples/simple_box/assets/settings.ron
  examples/simple_box/src/main.rs
  examples/simple_box/src/settings.rs
Labels: C-Example

#204 Fix broken links in book
  .github/workflows/main.yaml
  .github/workflows/website.yaml
  book/book.toml
  book/src/SUMMARY.md
  book/src/concepts/advanced_replication/prediction.md
  book/src/concepts/advanced_replication/replication_logic.md
  book/src/concepts/bevy_integration/system_order.md
  book/src/tutorial/basic_systems.md
  book/src/tutorial/title.md
Labels: C-Book

#205 Run client and server inside the same app
  examples/client_replication/src/client.rs
  examples/simple_box/src/client.rs
  examples/simple_box/src/main.rs
  examples/simple_box/src/server.rs
  examples/simple_box/src/shared.rs
  lightyear/src/client/config.rs
  lightyear/src/client/connection.rs
  lightyear/src/client/input.rs
  lightyear/src/client/networking.rs
  lightyear/src/client/plugin.rs
  lightyear/src/client/replication.rs
  lightyear/src/lib.rs
  lightyear/src/server/config.rs
  lightyear/src/server/connection.rs
  lightyear/src/server/networking.rs
  lightyear/src/server/plugin.rs
  lightyear/src/server/replication.rs
  lightyear/src/server/room.rs
  lightyear/src/shared/plugin.rs
  lightyear/src/shared/tick_manager.rs
  lightyear/src/shared/time_manager.rs
Labels: C-Enhancement, C-Performance, C-Usability
