Repository cBournhonesque/lightyear, pull requests merged in 2024-09, with the labels that each got.

#617 Create server-authoritative 3D physics example
  examples/README.md
  examples/avian_3d_character/Cargo.toml
  examples/avian_3d_character/README.md
  examples/avian_3d_character/assets/settings.ron
  examples/avian_3d_character/src/client.rs
  examples/avian_3d_character/src/main.rs
  examples/avian_3d_character/src/protocol.rs
  examples/avian_3d_character/src/renderer.rs
  examples/avian_3d_character/src/server.rs
  examples/avian_3d_character/src/shared.rs
Labels: C-Example

#626 Add book section describing component prediction criteria
  book/src/concepts/advanced_replication/prediction.md
Labels: C-Docs, C-Book

#632 add unit tests for map-entities related to PreSpawned and Prediction
  lightyear/src/client/prediction/predicted_history.rs
  lightyear/src/client/prediction/prespawn.rs
Labels: A-Prediction

#636 Add missing `reflect(Component)`s
  lightyear/src/client/components.rs
  lightyear/src/client/interpolation/mod.rs
  lightyear/src/client/prediction/despawn.rs
  lightyear/src/client/prediction/mod.rs
  lightyear/src/client/prediction/prespawn.rs
  lightyear/src/client/replication.rs
  lightyear/src/server/relevance/immediate.rs
  lightyear/src/server/replication.rs
  lightyear/src/shared/replication/authority.rs
  lightyear/src/shared/replication/hierarchy.rs
Labels: C-Usability

#638 Separate `Replicated` from `InitialReplicated`
  lightyear/src/client/prediction/prespawn.rs
  lightyear/src/client/replication.rs
  lightyear/src/server/prediction.rs
  lightyear/src/server/replication.rs
  lightyear/src/shared/replication/authority.rs
  lightyear/src/shared/replication/components.rs
  lightyear/src/shared/replication/receive.rs
Labels: A-Replication

#640 docs: update resource replication example
  book/src/concepts/replication/replicate.md
Labels: C-Book

#641 docs: basic book contribution info
  book/CONTRIBUTING.md
Labels: C-Book
