Repository cBournhonesque/lightyear, pull requests merged in 2024-02, with the labels that each got.

#129 Improve docs
  lightyear/Cargo.toml
  lightyear/src/client/components.rs
  lightyear/src/client/config.rs
  lightyear/src/client/connection.rs
  lightyear/src/client/events.rs
  lightyear/src/client/input.rs
  lightyear/src/client/input_leafwing.rs
  lightyear/src/client/interpolation/interpolate.rs
  lightyear/src/client/interpolation/mod.rs
  lightyear/src/client/interpolation/plugin.rs
  lightyear/src/client/message.rs
  lightyear/src/client/mod.rs
  lightyear/src/client/prediction/despawn.rs
  lightyear/src/client/prediction/mod.rs
  lightyear/src/client/prediction/plugin.rs
  lightyear/src/client/resource.rs
  lightyear/src/client/sync.rs
  lightyear/src/client/systems.rs
  lightyear/src/connection/client.rs
  lightyear/src/connection/server.rs
  lightyear/src/inputs/mod.rs
  lightyear/src/lib.rs
  lightyear/src/packet/header.rs
  lightyear/src/packet/message.rs
  lightyear/src/packet/message_manager.rs
  lightyear/src/packet/packet.rs
  lightyear/src/packet/packet_manager.rs
  lightyear/src/packet/priority_manager.rs
  lightyear/src/packet/stats_manager.rs
  lightyear/src/server/config.rs
  lightyear/src/server/connection.rs
  lightyear/src/server/events.rs
  lightyear/src/server/message.rs
  lightyear/src/server/mod.rs
  lightyear/src/server/room.rs
  lightyear/src/shared/config.rs
  lightyear/src/shared/events.rs
  lightyear/src/shared/log.rs
  lightyear/src/shared/ping/manager.rs
  lightyear/src/shared/ping/message.rs
  lightyear/src/shared/plugin.rs
  lightyear/src/shared/replication/components.rs
  lightyear/src/shared/replication/mod.rs
  lightyear/src/shared/replication/receive.rs
  lightyear/src/shared/replication/send.rs
  lightyear/src/shared/replication/systems.rs
  lightyear/src/shared/tick_manager.rs
  lightyear/src/shared/time_manager.rs
  lightyear/src/transport/io.rs
  lightyear/src/transport/mod.rs
Labels: C-Docs

#139 add a ToggleActions resource on the client to control whether or not …
  lightyear/src/client/input_leafwing.rs
  lightyear/src/lib.rs
Labels: A-Input, C-Usability

#149 Improve visual interpolation
  book/src/SUMMARY.md
  book/src/concepts/advanced_replication/visual_interpolation.md
  examples/replication_groups/src/client.rs
  examples/replication_groups/src/protocol.rs
  examples/replication_groups/src/server.rs
  examples/replication_groups/src/shared.rs
  lightyear/Cargo.toml
  lightyear/src/client/components.rs
  lightyear/src/client/interpolation/interpolate.rs
  lightyear/src/client/interpolation/interpolation_history.rs
  lightyear/src/client/interpolation/mod.rs
  lightyear/src/client/interpolation/plugin.rs
  lightyear/src/client/interpolation/visual_interpolation.rs
  lightyear/src/client/prediction/correction.rs
  lightyear/src/client/prediction/prespawn.rs
  lightyear/src/client/prediction/rollback.rs
  lightyear/src/client/sync.rs
  lightyear/src/lib.rs
  lightyear/src/protocol/component.rs
  lightyear/src/shared/replication/receive.rs
  lightyear/src/shared/replication/send.rs
  lightyear/src/shared/time_manager.rs
  lightyear/src/tests/protocol.rs
  lightyear/src/tests/stepper.rs
  lightyear/src/transport/websocket/mod.rs
  lightyear/src/transport/webtransport/mod.rs
  lightyear/src/utils/bevy.rs
Labels: C-Enhancement, P-High, A-Prediction, A-Interpolation, C-Book

#157 Fix typo in book's `transport/tile.md`
  book/src/concepts/transport/title.md
Labels: C-Docs

#156 Explain where derive macros are from
  book/src/tutorial/title.md
Labels: C-Docs

#161 Cb/upgrade deps
  .cargo/config.toml
  examples/bullet_prespawn/Cargo.toml
  examples/bullet_prespawn/src/main.rs
  examples/bullet_prespawn/src/shared.rs
  examples/client_replication/Cargo.toml
  examples/client_replication/src/main.rs
  examples/interest_management/Cargo.toml
  examples/interest_management/src/main.rs
  examples/leafwing_inputs/Cargo.toml
  examples/leafwing_inputs/src/main.rs
  examples/priority/Cargo.toml
  examples/priority/index.html
  examples/priority/src/main.rs
  examples/priority/src/server.rs
  examples/replication_groups/Cargo.toml
  examples/replication_groups/src/main.rs
  examples/replication_groups/src/shared.rs
  examples/simple_box/Cargo.toml
  examples/simple_box/src/main.rs
  examples/simple_box/src/shared.rs
  lightyear/Cargo.toml
  lightyear/src/connection/netcode/utils.rs
  lightyear/src/transport/webtransport/server.rs
Labels: dependencies

#159 Add try_from_bytes method to ConnectToken
  lightyear/src/connection/netcode/token.rs
Labels: A-Netcode

#168 Create README.md for examples
  examples/README.md
Labels: C-Docs, C-Example
