Repository cBournhonesque/lightyear, pull requests merged in 2024-11, with the labels that each got.

#647 Map entities when rollbacking predicted component
  lightyear/src/client/prediction/predicted_history.rs
  lightyear/src/client/prediction/rollback.rs
Labels: C-Bug, A-Prediction

#703 Fix pre-prediction example
  examples/avian_physics/src/server.rs
  examples/bullet_prespawn/src/server.rs
  examples/client_replication/src/server.rs
  examples/simple_box/src/server.rs
  lightyear/src/shared/replication/components.rs
Labels: C-Bug, A-Prediction, C-Example

#705 fix client replication example
  examples/client_replication/src/server.rs
  lightyear/src/client/prediction/pre_prediction.rs
  lightyear/src/server/prediction.rs
Labels: C-Bug, C-Example

#713 Fix pre predicted replication
  examples/avian_physics/src/protocol.rs
  lightyear/src/protocol/component.rs
  lightyear/src/shared/replication/receive.rs
Labels: C-Bug, A-Prediction, C-Example
