Repository cBournhonesque/lightyear, pull requests merged in 2024-05, with the labels that each got.

#297 add prediction unit tests and simplify prediction spawn
  lightyear/src/client/connection.rs
  lightyear/src/client/prediction/rollback.rs
  lightyear/src/client/prediction/spawn.rs
  lightyear/src/shared/tick_manager.rs
Labels: A-Prediction, C-Usability

#298 make interpolation systems run in parallel
  lightyear/src/client/interpolation/despawn.rs
  lightyear/src/client/interpolation/interpolation_history.rs
  lightyear/src/client/interpolation/plugin.rs
  lightyear/src/client/interpolation/resource.rs
  lightyear/src/client/interpolation/spawn.rs
  lightyear/src/client/prediction/plugin.rs
  lightyear/src/client/prediction/predicted_history.rs
  lightyear/src/lib.rs
  lightyear/src/shared/replication/entity_map.rs
Labels: A-Interpolation, C-Performance

#299 Add ZSTD compression to the packets
  examples/bullet_prespawn/Cargo.toml
  examples/bullet_prespawn/assets/settings.ron
  examples/bullet_prespawn/src/settings.rs
  examples/client_replication/Cargo.toml
  examples/client_replication/assets/settings.ron
  examples/client_replication/src/settings.rs
  examples/interest_management/Cargo.toml
  examples/interest_management/assets/settings.ron
  examples/interest_management/src/settings.rs
  examples/leafwing_inputs/Cargo.toml
  examples/leafwing_inputs/assets/settings.ron
  examples/leafwing_inputs/src/settings.rs
  examples/lobby/Cargo.toml
  examples/lobby/assets/settings.ron
  examples/lobby/src/settings.rs
  examples/priority/Cargo.toml
  examples/priority/assets/settings.ron
  examples/priority/src/settings.rs
  examples/replication_groups/Cargo.toml
  examples/replication_groups/assets/settings.ron
  examples/replication_groups/src/settings.rs
  examples/simple_box/Cargo.toml
  examples/simple_box/assets/settings.ron
  examples/simple_box/src/settings.rs
  lightyear/Cargo.toml
  lightyear/src/connection/netcode/replay.rs
  lightyear/src/connection/netcode/server.rs
  lightyear/src/lib.rs
  lightyear/src/shared/plugin.rs
  lightyear/src/transport/config.rs
  lightyear/src/transport/error.rs
  lightyear/src/transport/io.rs
  lightyear/src/transport/middleware/compression/mod.rs
  lightyear/src/transport/middleware/compression/zstd.rs
  lightyear/src/transport/middleware/mod.rs
Labels: C-Enhancement, A-Transport

#303 Bidirectional resource replication
  examples/client_replication/src/client.rs
  examples/lobby/src/client.rs
  examples/lobby/src/server.rs
  lightyear/src/client/connection.rs
  lightyear/src/client/input.rs
  lightyear/src/client/input_leafwing.rs
  lightyear/src/lib.rs
  lightyear/src/packet/message_manager.rs
  lightyear/src/protocol/component.rs
  lightyear/src/protocol/message.rs
  lightyear/src/protocol/mod.rs
  lightyear/src/protocol/serialize.rs
  lightyear/src/server/connection.rs
  lightyear/src/server/message.rs
  lightyear/src/shared/events/components.rs
  lightyear/src/shared/input_leafwing.rs
  lightyear/src/shared/message.rs
  lightyear/src/shared/mod.rs
  lightyear/src/shared/plugin.rs
  lightyear/src/shared/replication/plugin.rs
  lightyear/src/shared/replication/receive.rs
  lightyear/src/shared/replication/resources.rs
  lightyear/src/tests/protocol.rs
  lightyear/src/tests/stepper.rs
Labels: C-Enhancement, A-Replication

#305 remove clone bound on bitserializable
  lightyear/src/protocol/mod.rs
Labels: A-Serialization

#250 chore(docs): add sequence diagrams to book
  book/src/concepts/advanced_replication/client_replication.md
Labels: C-Book

#306 Fix instructions related to client replication in book
  book/book.toml
  book/src/concepts/advanced_replication/client_replication.md
  book/src/concepts/replication/replicate.md
  lightyear/src/server/replication.rs
Labels: C-Book

#310 clarify connect token docs
  book/src/concepts/connection/title.md
  lightyear/src/connection/client.rs
Labels: C-Docs, A-Netcode, C-Book

#312 Add an example to show how the server can generate and send a ConnectToken to the client
  examples/auth/.cargo/config.toml
  examples/auth/Cargo.toml
  examples/auth/README.md
  examples/auth/assets/settings.ron
  examples/auth/index.html
  examples/auth/src/client.rs
  examples/auth/src/main.rs
  examples/auth/src/protocol.rs
  examples/auth/src/server.rs
  examples/auth/src/settings.rs
  examples/auth/src/shared.rs
  lightyear/src/connection/client.rs
  lightyear/src/lib.rs
Labels: A-Netcode, C-Example

#317 update all examples to work with wtransport 0.11.3
  examples/auth/Cargo.toml
  examples/auth/assets/settings.ron
  examples/auth/src/settings.rs
  examples/bullet_prespawn/Cargo.toml
  examples/bullet_prespawn/assets/settings.ron
  examples/bullet_prespawn/src/settings.rs
  examples/certificates/cert.pem
  examples/certificates/key.pem
  examples/client_replication/Cargo.toml
  examples/client_replication/assets/settings.ron
  examples/client_replication/src/settings.rs
  examples/interest_management/Cargo.toml
  examples/interest_management/assets/settings.ron
  examples/interest_management/src/settings.rs
  examples/leafwing_inputs/Cargo.toml
  examples/leafwing_inputs/assets/settings.ron
  examples/leafwing_inputs/src/settings.rs
  examples/lobby/Cargo.toml
  examples/lobby/assets/settings.ron
  examples/lobby/src/settings.rs
  examples/priority/Cargo.toml
  examples/priority/assets/settings.ron
  examples/priority/src/settings.rs
  examples/replication_groups/Cargo.toml
  examples/replication_groups/assets/settings.ron
  examples/replication_groups/src/settings.rs
  examples/simple_box/Cargo.toml
  examples/simple_box/assets/settings.ron
  examples/simple_box/src/settings.rs
  lightyear/src/lib.rs
  lightyear/src/transport/config.rs
  lightyear/src/transport/webtransport/server.rs
Labels: C-Example

#318 Enable re-using remote entity when doing replication.
  NOTES.md
  lightyear/src/client/connection.rs
  lightyear/src/lib.rs
  lightyear/src/server/connection.rs
  lightyear/src/shared/replication/components.rs
  lightyear/src/shared/replication/mod.rs
  lightyear/src/shared/replication/plugin.rs
  lightyear/src/shared/replication/receive.rs
  lightyear/src/shared/replication/send.rs
Labels: A-Replication

#320 Improve protocol ergonomics and improve rustdocs
  book/src/tutorial/setup.md
  examples/auth/src/protocol.rs
  examples/bullet_prespawn/src/protocol.rs
  examples/client_replication/src/protocol.rs
  examples/interest_management/src/protocol.rs
  examples/leafwing_inputs/src/protocol.rs
  examples/lobby/src/protocol.rs
  examples/priority/src/protocol.rs
  examples/replication_groups/src/protocol.rs
  examples/simple_box/src/protocol.rs
  lightyear/src/client/networking.rs
  lightyear/src/inputs/mod.rs
  lightyear/src/lib.rs
  lightyear/src/protocol/component.rs
  lightyear/src/protocol/message.rs
  lightyear/src/protocol/mod.rs
  lightyear/src/shared/events/mod.rs
  lightyear/src/shared/plugin.rs
  lightyear/src/tests/protocol.rs
Labels: C-Docs, C-Usability

#323 Use sparse set storage for corrections
  lightyear/src/client/prediction/correction.rs
Labels: A-Prediction, C-Performance

#325 Update visibility to allow more immediate visibility updates
  book/src/concepts/advanced_replication/interest_management.md
  examples/interest_management/Cargo.toml
  examples/interest_management/assets/settings.ron
  examples/interest_management/src/protocol.rs
  examples/interest_management/src/server.rs
  examples/lobby/src/server.rs
  lightyear/src/lib.rs
  lightyear/src/server/mod.rs
  lightyear/src/server/networking.rs
  lightyear/src/server/plugin.rs
  lightyear/src/server/replication.rs
  lightyear/src/server/visibility/immediate.rs
  lightyear/src/server/visibility/mod.rs
  lightyear/src/server/visibility/room.rs
  lightyear/src/shared/replication/components.rs
  lightyear/src/shared/replication/plugin.rs
  lightyear/src/shared/replication/systems.rs
Labels: C-Enhancement, A-Replication

#326 Make ClientPlugin and ServerPlugin PluginGroups
  benches/src/local_stepper.rs
  book/src/concepts/advanced_replication/client_replication.md
  examples/auth/src/main.rs
  examples/bullet_prespawn/assets/settings.ron
  examples/bullet_prespawn/src/main.rs
  examples/client_replication/src/main.rs
  examples/interest_management/src/main.rs
  examples/leafwing_inputs/src/main.rs
  examples/lobby/src/main.rs
  examples/priority/src/main.rs
  examples/replication_groups/src/main.rs
  examples/simple_box/src/main.rs
  lightyear/src/client/config.rs
  lightyear/src/client/connection.rs
  lightyear/src/client/input_leafwing.rs
  lightyear/src/client/interpolation/visual_interpolation.rs
  lightyear/src/client/plugin.rs
  lightyear/src/client/prediction/despawn.rs
  lightyear/src/client/prediction/plugin.rs
  lightyear/src/client/replication.rs
  lightyear/src/lib.rs
  lightyear/src/protocol/component.rs
  lightyear/src/protocol/message.rs
  lightyear/src/server/config.rs
  lightyear/src/server/connection.rs
  lightyear/src/server/input_leafwing.rs
  lightyear/src/server/plugin.rs
  lightyear/src/server/replication.rs
  lightyear/src/server/visibility/immediate.rs
  lightyear/src/server/visibility/mod.rs
  lightyear/src/server/visibility/room.rs
  lightyear/src/shared/events/plugin.rs
  lightyear/src/shared/events/systems.rs
  lightyear/src/shared/replication/commands.rs
  lightyear/src/shared/replication/components.rs
  lightyear/src/shared/replication/entity_map.rs
  lightyear/src/shared/replication/hierarchy.rs
  lightyear/src/shared/replication/mod.rs
  lightyear/src/shared/replication/plugin.rs
  lightyear/src/shared/replication/receive.rs
  lightyear/src/shared/replication/resources.rs
  lightyear/src/shared/replication/send.rs
  lightyear/src/shared/replication/systems.rs
  lightyear/src/tests/integration/multi_transport.rs
  lightyear/src/tests/stepper.rs
Labels: C-Usability

#330 make private key compulsory on server config
  lightyear/src/server/config.rs
Labels: A-Netcode, C-Usability

#331 update component metadata target override to not user intersection
  lightyear/src/shared/replication/components.rs
Labels: A-Replication

#332 Remove VisualInterpolateMarker
  lightyear/src/client/interpolation/visual_interpolation.rs
Labels: A-Interpolation, C-Usability

#335 Fix visibility bugs introduced by refactor
  examples/interest_management/src/server.rs
  lightyear/src/server/networking.rs
  lightyear/src/server/visibility/immediate.rs
  lightyear/src/server/visibility/room.rs
  lightyear/src/shared/replication/systems.rs
Labels: A-Replication

#336 Use debug assert
  lightyear/src/packet/header.rs
  lightyear/src/packet/packet_manager.rs
Labels: C-Usability

#337 restore actual component value before rollback if visual interpolation is enabled
  examples/replication_groups/src/client.rs
  lightyear/src/client/interpolation/visual_interpolation.rs
Labels: A-Prediction

#338 Enable overriding the rollback check function with a custom equality check function
  lightyear/src/client/prediction/rollback.rs
  lightyear/src/protocol/component.rs
Labels: A-Prediction

#340 Disconnect netclient when io disconnects
  lightyear/src/client/networking.rs
  lightyear/src/connection/netcode/client.rs
  lightyear/src/transport/channels.rs
  lightyear/src/transport/config.rs
  lightyear/src/transport/dummy.rs
  lightyear/src/transport/io.rs
  lightyear/src/transport/local.rs
  lightyear/src/transport/mod.rs
  lightyear/src/transport/udp.rs
  lightyear/src/transport/websocket/client_native.rs
  lightyear/src/transport/websocket/client_wasm.rs
  lightyear/src/transport/websocket/server.rs
  lightyear/src/transport/webtransport/client_native.rs
  lightyear/src/transport/webtransport/client_wasm.rs
  lightyear/src/transport/webtransport/server.rs
Labels: A-Netcode, A-Transport

#342 Io refactor
  benches/src/local_stepper.rs
  examples/common/src/app.rs
  examples/common/src/settings.rs
  lightyear/Cargo.toml
  lightyear/src/client/io/config.rs
  lightyear/src/client/io/mod.rs
  lightyear/src/client/io/transport.rs
  lightyear/src/client/mod.rs
  lightyear/src/client/networking.rs
  lightyear/src/connection/client.rs
  lightyear/src/connection/local/client.rs
  lightyear/src/connection/netcode/client.rs
  lightyear/src/connection/netcode/mod.rs
  lightyear/src/connection/netcode/server.rs
  lightyear/src/connection/server.rs
  lightyear/src/connection/steam/client.rs
  lightyear/src/connection/steam/server.rs
  lightyear/src/lib.rs
  lightyear/src/server/io/config.rs
  lightyear/src/server/io/mod.rs
  lightyear/src/server/io/transport.rs
  lightyear/src/server/mod.rs
  lightyear/src/server/networking.rs
  lightyear/src/shared/plugin.rs
  lightyear/src/tests/integration/multi_transport.rs
  lightyear/src/tests/stepper.rs
  lightyear/src/transport/channels.rs
  lightyear/src/transport/config.rs
  lightyear/src/transport/dummy.rs
  lightyear/src/transport/error.rs
  lightyear/src/transport/io.rs
  lightyear/src/transport/local.rs
  lightyear/src/transport/middleware/compression/zstd.rs
  lightyear/src/transport/mod.rs
  lightyear/src/transport/udp.rs
  lightyear/src/transport/websocket/client_native.rs
  lightyear/src/transport/websocket/client_wasm.rs
  lightyear/src/transport/websocket/server.rs
  lightyear/src/transport/webtransport/client_native.rs
  lightyear/src/transport/webtransport/client_wasm.rs
  lightyear/src/transport/webtransport/server.rs
Labels: A-Netcode, A-Transport

#343 Add `Controlled` component and `controlled_by` field to `Replicate`
  NOTES.md
  examples/auth/src/server.rs
  examples/bullet_prespawn/src/server.rs
  examples/client_replication/src/server.rs
  examples/interest_management/src/protocol.rs
  examples/interest_management/src/server.rs
  examples/leafwing_inputs/src/server.rs
  examples/lobby/src/server.rs
  examples/priority/src/protocol.rs
  examples/priority/src/server.rs
  examples/replication_groups/src/protocol.rs
  examples/replication_groups/src/server.rs
  examples/simple_box/src/server.rs
  lightyear/Cargo.toml
  lightyear/src/client/events.rs
  lightyear/src/client/networking.rs
  lightyear/src/lib.rs
  lightyear/src/server/clients.rs
  lightyear/src/server/connection.rs
  lightyear/src/server/events.rs
  lightyear/src/server/mod.rs
  lightyear/src/server/networking.rs
  lightyear/src/server/plugin.rs
  lightyear/src/server/replication.rs
  lightyear/src/server/visibility/room.rs
  lightyear/src/shared/events/components.rs
  lightyear/src/shared/events/plugin.rs
  lightyear/src/shared/plugin.rs
  lightyear/src/shared/replication/components.rs
  lightyear/src/shared/replication/hierarchy.rs
  lightyear/src/shared/replication/systems.rs
Labels: A-Replication

#345 make room entities/clients public, and add send_message_to_room
  lightyear/src/client/message.rs
  lightyear/src/server/connection.rs
  lightyear/src/server/visibility/room.rs
Labels: C-Usability, A-Visibility

#344 rename the rollback check fn
  lightyear/src/client/prediction/rollback.rs
  lightyear/src/protocol/component.rs
Labels: A-Prediction, C-Usability

#347 Split the `Replicate` component into multiple smaller components
  benches/message.rs
  benches/spawn.rs
  benches/src/protocol.rs
  examples/auth/src/client.rs
  examples/auth/src/protocol.rs
  examples/bullet_prespawn/src/protocol.rs
  examples/bullet_prespawn/src/server.rs
  examples/bullet_prespawn/src/shared.rs
  examples/client_replication/src/protocol.rs
  examples/client_replication/src/server.rs
  examples/interest_management/src/protocol.rs
  examples/interest_management/src/server.rs
  examples/leafwing_inputs/src/protocol.rs
  examples/leafwing_inputs/src/server.rs
  examples/lobby/src/server.rs
  examples/priority/src/protocol.rs
  examples/priority/src/server.rs
  examples/replication_groups/src/protocol.rs
  examples/replication_groups/src/server.rs
  examples/replication_groups/src/shared.rs
  examples/simple_box/src/server.rs
  lightyear/src/client/connection.rs
  lightyear/src/client/message.rs
  lightyear/src/client/plugin.rs
  lightyear/src/client/prediction/pre_prediction.rs
  lightyear/src/client/replication.rs
  lightyear/src/client/sync.rs
  lightyear/src/lib.rs
  lightyear/src/server/clients.rs
  lightyear/src/server/connection.rs
  lightyear/src/server/input.rs
  lightyear/src/server/input_leafwing.rs
  lightyear/src/server/message.rs
  lightyear/src/server/networking.rs
  lightyear/src/server/plugin.rs
  lightyear/src/server/replication.rs
  lightyear/src/server/visibility/immediate.rs
  lightyear/src/server/visibility/room.rs
  lightyear/src/shared/message.rs
  lightyear/src/shared/replication/commands.rs
  lightyear/src/shared/replication/components.rs
  lightyear/src/shared/replication/hierarchy.rs
  lightyear/src/shared/replication/mod.rs
  lightyear/src/shared/replication/network_target.rs
  lightyear/src/shared/replication/plugin.rs
  lightyear/src/shared/replication/receive.rs
  lightyear/src/shared/replication/resources.rs
  lightyear/src/shared/replication/send.rs
  lightyear/src/shared/replication/systems.rs
  lightyear/src/shared/sets.rs
  lightyear/src/tests/integration/multi_transport.rs
  lightyear/src/tests/integration/tick_wrapping.rs
  lightyear/src/tests/mod.rs
  lightyear/src/tests/multi_stepper.rs
  lightyear/src/tests/stepper.rs
Labels: A-Replication

#348 Apply replication update only if the value is different from the existing one
  lightyear/src/protocol/component.rs
  lightyear/src/shared/replication/mod.rs
  lightyear/src/shared/replication/systems.rs
Labels: A-Replication

#351 improve docs
  book/src/concepts/advanced_replication/replication_logic.md
  book/src/concepts/replication/replicate.md
  book/src/tutorial/basic_systems.md
  lightyear/src/channel/builder.rs
  lightyear/src/client/input.rs
  lightyear/src/client/input_leafwing.rs
  lightyear/src/inputs/native/mod.rs
  lightyear/src/lib.rs
  lightyear/src/protocol/channel.rs
  lightyear/src/server/events.rs
  lightyear/src/server/plugin.rs
  lightyear/src/server/visibility/immediate.rs
  lightyear/src/shared/replication/components.rs
Labels: C-Docs, C-Book

#352 Use wasm_bindgen_futures::spawn_local instead of BevyIoTaskPool in wasm
  examples/auth/index.html
  examples/bullet_prespawn/index.html
  examples/client_replication/index.html
  examples/common/Cargo.toml
  examples/common/src/settings.rs
  examples/interest_management/index.html
  examples/leafwing_inputs/index.html
  examples/lobby/index.html
  examples/priority/index.html
  examples/replication_groups/index.html
  examples/simple_box/index.html
  lightyear/src/client/io/config.rs
  lightyear/src/client/io/mod.rs
  lightyear/src/connection/netcode/server.rs
  lightyear/src/server/io/config.rs
  lightyear/src/server/io/mod.rs
  lightyear/src/server/io/transport.rs
  lightyear/src/transport/dummy.rs
  lightyear/src/transport/error.rs
  lightyear/src/transport/local.rs
  lightyear/src/transport/mod.rs
  lightyear/src/transport/udp.rs
  lightyear/src/transport/websocket/client_wasm.rs
  lightyear/src/transport/webtransport/client_wasm.rs
Labels: C-Bug, A-Transport

#354 Better rollback debug logs
  lightyear/src/client/prediction/rollback.rs
Labels: A-Prediction, C-Usability

#353 Separate replication logic between client and server
  examples/bullet_prespawn/src/protocol.rs
  examples/bullet_prespawn/src/server.rs
  examples/bullet_prespawn/src/shared.rs
  examples/client_replication/src/protocol.rs
  examples/client_replication/src/server.rs
  examples/common/Cargo.toml
  examples/interest_management/src/protocol.rs
  examples/leafwing_inputs/src/protocol.rs
  examples/leafwing_inputs/src/server.rs
  examples/lobby/src/server.rs
  examples/priority/src/protocol.rs
  examples/replication_groups/src/protocol.rs
  examples/simple_box/src/server.rs
  lightyear/src/client/components.rs
  lightyear/src/client/connection.rs
  lightyear/src/client/input_leafwing.rs
  lightyear/src/client/prediction/pre_prediction.rs
  lightyear/src/client/prediction/prespawn.rs
  lightyear/src/client/replication.rs
  lightyear/src/client/sync.rs
  lightyear/src/lib.rs
  lightyear/src/protocol/component.rs
  lightyear/src/server/clients.rs
  lightyear/src/server/connection.rs
  lightyear/src/server/prediction.rs
  lightyear/src/server/replication.rs
  lightyear/src/server/visibility/immediate.rs
  lightyear/src/server/visibility/room.rs
  lightyear/src/shared/replication/commands.rs
  lightyear/src/shared/replication/components.rs
  lightyear/src/shared/replication/entity_map.rs
  lightyear/src/shared/replication/hierarchy.rs
  lightyear/src/shared/replication/mod.rs
  lightyear/src/shared/replication/plugin.rs
  lightyear/src/shared/replication/receive.rs
  lightyear/src/shared/replication/send.rs
  lightyear/src/shared/replication/systems.rs
  lightyear/src/tests/integration/tick_wrapping.rs
Labels: P-Critical, A-Replication

#358 Cb/fix bullet prespawn
  examples/bullet_prespawn/src/shared.rs
  lightyear/src/client/prediction/prespawn.rs
  lightyear/src/server/prediction.rs
Labels: C-Bug, A-Prediction, C-Example

#361 improve examples common
  examples/auth/src/main.rs
  examples/bullet_prespawn/src/main.rs
  examples/client_replication/src/main.rs
  examples/common/Cargo.toml
  examples/common/src/app.rs
  examples/common/src/lib.rs
  examples/common/src/settings.rs
  examples/interest_management/src/main.rs
  examples/leafwing_inputs/src/main.rs
  examples/lobby/src/main.rs
  examples/priority/src/main.rs
  examples/replication_groups/src/main.rs
  examples/simple_box/src/main.rs
  lightyear/src/client/networking.rs
Labels: C-Example, C-Usability

#362 fix examples
  examples/auth/Cargo.toml
  examples/auth/src/main.rs
  examples/bullet_prespawn/Cargo.toml
  examples/bullet_prespawn/src/main.rs
  examples/client_replication/Cargo.toml
  examples/client_replication/src/main.rs
  examples/common/src/lib.rs
  examples/interest_management/Cargo.toml
  examples/interest_management/src/main.rs
  examples/leafwing_inputs/Cargo.toml
  examples/leafwing_inputs/src/main.rs
  examples/lobby/Cargo.toml
  examples/lobby/src/client.rs
  examples/lobby/src/main.rs
  examples/priority/Cargo.toml
  examples/priority/src/main.rs
  examples/replication_groups/Cargo.toml
  examples/replication_groups/src/main.rs
  examples/simple_box/Cargo.toml
  examples/simple_box/src/main.rs
  lightyear/src/client/networking.rs
Labels: C-Example

#363 despawn recursive predicted/interpolated entities
  lightyear/src/client/interpolation/despawn.rs
  lightyear/src/client/prediction/despawn.rs
Labels: A-Prediction, A-Interpolation

#365 send updates since we last sent an update, not since we last received an ACK for that entity
  NOTES.md
  examples/auth/Cargo.toml
  examples/bullet_prespawn/Cargo.toml
  examples/client_replication/Cargo.toml
  examples/common/Cargo.toml
  examples/interest_management/Cargo.toml
  examples/leafwing_inputs/Cargo.toml
  examples/lobby/Cargo.toml
  examples/priority/Cargo.toml
  examples/replication_groups/Cargo.toml
  examples/simple_box/Cargo.toml
  lightyear/Cargo.toml
  lightyear/src/channel/builder.rs
  lightyear/src/client/config.rs
  lightyear/src/client/connection.rs
  lightyear/src/client/interpolation/despawn.rs
  lightyear/src/client/networking.rs
  lightyear/src/client/plugin.rs
  lightyear/src/client/prediction/despawn.rs
  lightyear/src/client/replication.rs
  lightyear/src/packet/header.rs
  lightyear/src/packet/message_manager.rs
  lightyear/src/packet/packet.rs
  lightyear/src/packet/packet_manager.rs
  lightyear/src/packet/priority_manager.rs
  lightyear/src/protocol/channel.rs
  lightyear/src/server/config.rs
  lightyear/src/server/connection.rs
  lightyear/src/server/networking.rs
  lightyear/src/server/plugin.rs
  lightyear/src/shared/ping/manager.rs
  lightyear/src/shared/replication/send.rs
  macros/Cargo.toml
Labels: A-Replication, C-Performance

#368 add common run conditions
  examples/leafwing_inputs/src/shared.rs
  examples/lobby/src/server.rs
  lightyear/src/client/diagnostics.rs
  lightyear/src/client/input.rs
  lightyear/src/client/input_leafwing.rs
  lightyear/src/client/interpolation/plugin.rs
  lightyear/src/client/message.rs
  lightyear/src/client/networking.rs
  lightyear/src/client/prediction/plugin.rs
  lightyear/src/client/prediction/prespawn.rs
  lightyear/src/client/replication.rs
  lightyear/src/lib.rs
  lightyear/src/protocol/component.rs
  lightyear/src/server/input.rs
  lightyear/src/server/input_leafwing.rs
  lightyear/src/server/message.rs
  lightyear/src/server/networking.rs
  lightyear/src/server/replication.rs
  lightyear/src/server/visibility/immediate.rs
  lightyear/src/server/visibility/room.rs
  lightyear/src/shared/config.rs
  lightyear/src/shared/mod.rs
  lightyear/src/shared/run_conditions.rs
Labels: C-Usability

#371 Add WebPlugin to keep running in background
  examples/auth/assets/settings.ron
  examples/bullet_prespawn/assets/settings.ron
  examples/certificates/cert.pem
  examples/certificates/key.pem
  examples/client_replication/assets/settings.ron
  examples/interest_management/assets/settings.ron
  examples/leafwing_inputs/assets/settings.ron
  examples/lobby/assets/settings.ron
  examples/priority/assets/settings.ron
  examples/replication_groups/assets/settings.ron
  examples/simple_box/assets/settings.ron
  lightyear/Cargo.toml
  lightyear/src/client/mod.rs
  lightyear/src/client/plugin.rs
  lightyear/src/client/web.rs
Labels: C-Bug, A-Transport

#372 add simple_setup example
  examples/README.md
  examples/simple_setup/.cargo/config.toml
  examples/simple_setup/Cargo.toml
  examples/simple_setup/README.md
  examples/simple_setup/src/client.rs
  examples/simple_setup/src/main.rs
  examples/simple_setup/src/server.rs
  examples/simple_setup/src/shared.rs
  examples/xpbd_physics/.cargo/config.toml
  examples/xpbd_physics/Cargo.toml
  examples/xpbd_physics/README.md
  examples/xpbd_physics/assets/settings.ron
  examples/xpbd_physics/index.html
  examples/xpbd_physics/src/client.rs
  examples/xpbd_physics/src/main.rs
  examples/xpbd_physics/src/protocol.rs
  examples/xpbd_physics/src/server.rs
  examples/xpbd_physics/src/shared.rs
  lightyear/Cargo.toml
  lightyear/src/server/clients.rs
Labels: C-Example

#374 fix action-state for other players
  lightyear/src/shared/input_leafwing.rs
Labels: C-Bug, A-Prediction

#375 Draw Confirmed entity outlines in xpbd_physics demo
  examples/xpbd_physics/src/shared.rs
Labels: C-Example

#376 Rebroadcast remote players inputs to have more precise rollbacks when predicting other players
  examples/xpbd_physics/assets/settings.ron
  examples/xpbd_physics/src/client.rs
  examples/xpbd_physics/src/server.rs
  examples/xpbd_physics/src/shared.rs
  lightyear/src/client/config.rs
  lightyear/src/client/connection.rs
  lightyear/src/client/input/leafwing.rs
  lightyear/src/client/input/mod.rs
  lightyear/src/client/input/native.rs
  lightyear/src/client/mod.rs
  lightyear/src/client/plugin.rs
  lightyear/src/client/prediction/rollback.rs
  lightyear/src/client/sync.rs
  lightyear/src/inputs/leafwing/input_buffer.rs
  lightyear/src/lib.rs
  lightyear/src/protocol/message.rs
  lightyear/src/server/input/leafwing.rs
  lightyear/src/server/input/mod.rs
  lightyear/src/server/input/native.rs
  lightyear/src/server/mod.rs
  lightyear/src/shared/input/leafwing.rs
  lightyear/src/shared/input/mod.rs
  lightyear/src/shared/input/native.rs
  lightyear/src/shared/mod.rs
  lightyear/src/tests/integration/tick_wrapping.rs
Labels: A-Prediction, A-Input

#377 add option to display confirmed entities
  examples/xpbd_physics/assets/settings.ron
  examples/xpbd_physics/src/client.rs
  examples/xpbd_physics/src/main.rs
  examples/xpbd_physics/src/server.rs
  examples/xpbd_physics/src/shared.rs
Labels: C-Example

#379 put rollback diagnostics into PredictionDiagnosticsPlugin
  examples/xpbd_physics/src/shared.rs
  lightyear/src/client/diagnostics.rs
  lightyear/src/client/mod.rs
  lightyear/src/client/plugin.rs
  lightyear/src/client/prediction/diagnostics.rs
  lightyear/src/client/prediction/mod.rs
  lightyear/src/client/prediction/rollback.rs
  lightyear/src/lib.rs
Labels: C-Usability

#380 Add PingDiagnosticPlugin
  examples/xpbd_physics/src/shared.rs
  lightyear/src/client/diagnostics.rs
  lightyear/src/shared/ping/diagnostics.rs
  lightyear/src/shared/ping/manager.rs
  lightyear/src/shared/ping/mod.rs
  lightyear/src/shared/ping/store.rs
Labels: C-Usability

#384 Add delta compression
  lightyear/src/channel/receivers/tick_unreliable.rs
  lightyear/src/client/connection.rs
  lightyear/src/client/input/leafwing.rs
  lightyear/src/client/interpolation/interpolation_history.rs
  lightyear/src/client/networking.rs
  lightyear/src/client/prediction/predicted_history.rs
  lightyear/src/client/prediction/prespawn.rs
  lightyear/src/client/prediction/rollback.rs
  lightyear/src/client/replication.rs
  lightyear/src/lib.rs
  lightyear/src/packet/stats_manager.rs
  lightyear/src/protocol/component.rs
  lightyear/src/protocol/delta.rs
  lightyear/src/protocol/message.rs
  lightyear/src/protocol/mod.rs
  lightyear/src/protocol/serialize.rs
  lightyear/src/server/connection.rs
  lightyear/src/server/events.rs
  lightyear/src/server/networking.rs
  lightyear/src/server/replication.rs
  lightyear/src/shared/ping/manager.rs
  lightyear/src/shared/replication/components.rs
  lightyear/src/shared/replication/delta.rs
  lightyear/src/shared/replication/mod.rs
  lightyear/src/shared/replication/send.rs
  lightyear/src/tests/protocol.rs
  lightyear/src/tests/stepper.rs
  lightyear/src/transport/middleware/conditioner.rs
  lightyear/src/utils/ready_buffer.rs
Labels: A-Replication, C-Performance

#400 improve config docs
  benches/message.rs
  lightyear/src/client/config.rs
  lightyear/src/connection/mod.rs
  lightyear/src/server/config.rs
Labels: C-Docs

#401 Add user-provided hook to accept/reject connections
  examples/common/src/settings.rs
  examples/simple_box/src/server.rs
  lightyear/src/connection/netcode/client.rs
  lightyear/src/connection/netcode/packet.rs
  lightyear/src/connection/netcode/server.rs
  lightyear/src/connection/server.rs
  lightyear/src/connection/steam/server.rs
  lightyear/src/server/config.rs
  lightyear/src/tests/stepper.rs
Labels: A-Netcode

#403 switch to bevy_keepalive
  lightyear/Cargo.toml
  lightyear/src/client/web.rs
Labels: O-Web

#404 Add extra tests/docs for delta-compression
  lightyear/Cargo.toml
  lightyear/src/connection/netcode/packet.rs
  lightyear/src/server/replication.rs
  lightyear/src/shared/replication/delta.rs
  lightyear/src/tests/protocol.rs
Labels: A-Replication

#414 fix remote inputs entity mapping
  examples/bullet_prespawn/assets/settings.ron
  examples/common/src/settings.rs
  lightyear/src/client/input/leafwing.rs
  lightyear/src/packet/message_manager.rs
  lightyear/src/packet/packet.rs
  lightyear/src/shared/replication/send.rs
Labels: A-Input

#416 Return DisconnectReason in the DisconnectEvent for clients
  examples/common/src/settings.rs
  examples/lobby/src/client.rs
  examples/simple_box/src/client.rs
  lightyear/src/client/events.rs
  lightyear/src/client/networking.rs
  lightyear/src/connection/client.rs
  lightyear/src/connection/local/client.rs
  lightyear/src/connection/netcode/client.rs
  lightyear/src/connection/steam/client.rs
  lightyear/src/shared/run_conditions.rs
Labels: A-Netcode

#417 remove None state and instead init NetworkingState without entering OnDisconnect
  examples/lobby/src/client.rs
  examples/simple_box/src/client.rs
  lightyear/src/client/networking.rs
Labels: C-Usability

#420 update benchmarks: separate send/receive
  benches/replication.rs
  benches/src/local_stepper.rs
Labels: C-Benchmarks

#422 add trace feature with lots of trace instrumentation
  benches/replication.rs
  benches/src/local_stepper.rs
  lightyear/Cargo.toml
  lightyear/src/packet/message_manager.rs
  lightyear/src/packet/packet_manager.rs
  lightyear/src/packet/priority_manager.rs
  lightyear/src/server/connection.rs
  lightyear/src/server/networking.rs
  lightyear/src/shared/replication/receive.rs
  lightyear/src/shared/replication/send.rs
Labels: C-Benchmarks, C-Performance

#424 add channel bandwidth stats
  benches/replication.rs
  lightyear/Cargo.toml
  lightyear/src/channel/builder.rs
  lightyear/src/channel/mod.rs
  lightyear/src/channel/stats.rs
  lightyear/src/packet/header.rs
  lightyear/src/packet/message_manager.rs
  lightyear/src/packet/priority_manager.rs
  lightyear/src/packet/stats_manager.rs
  lightyear/src/server/connection.rs
Labels: C-Performance, C-Usability
