Repository cBournhonesque/lightyear, pull requests merged in 2024-08, with the labels that each got.

#567 add MTU config for QUIC
  lightyear/src/transport/mod.rs
  lightyear/src/transport/webtransport/client_native.rs
  lightyear/src/transport/webtransport/server.rs
Labels: A-Transport

#571 Update book visual interp page with fixed physics example
  book/src/concepts/advanced_replication/visual_interpolation.md
Labels: A-Interpolation, C-Book

#575 Upgrade to leafwing 0.15
  examples/avian_physics/Cargo.toml
  examples/bullet_prespawn/Cargo.toml
  examples/bullet_prespawn/src/client.rs
  examples/bullet_prespawn/src/protocol.rs
  examples/bullet_prespawn/src/shared.rs
  examples/client_replication/src/client.rs
  examples/common/Cargo.toml
  examples/interest_management/Cargo.toml
  examples/lobby/Cargo.toml
  examples/lobby/src/client.rs
  examples/priority/Cargo.toml
  examples/replication_groups/src/client.rs
  examples/simple_box/src/client.rs
  examples/spaceships/Cargo.toml
  lightyear/Cargo.toml
  lightyear/src/client/input/mod.rs
  lightyear/src/client/input/native.rs
  lightyear/src/client/interpolation/interpolate.rs
  lightyear/src/client/networking.rs
  lightyear/src/client/prediction/plugin.rs
  lightyear/src/client/prediction/rollback.rs
  lightyear/src/client/replication.rs
  lightyear/src/connection/client.rs
  lightyear/src/connection/netcode/client.rs
  lightyear/src/inputs/leafwing/action_diff.rs
  lightyear/src/inputs/leafwing/input_buffer.rs
  lightyear/src/inputs/native/mod.rs
  lightyear/src/lib.rs
  lightyear/src/protocol/mod.rs
  lightyear/src/server/replication.rs
  lightyear/src/shared/replication/delta.rs
  lightyear/src/shared/replication/send.rs
  lightyear/src/tests/host_server_stepper.rs
  lightyear/src/tests/integration/tick_wrapping.rs
  lightyear/src/utils/bevy.rs
Labels: A-Input

#581 Use `Commands` instead of `World` to apply replication updates
  lightyear/src/client/connection.rs
  lightyear/src/client/networking.rs
  lightyear/src/client/prediction/predicted_history.rs
  lightyear/src/client/replication.rs
  lightyear/src/protocol/component.rs
  lightyear/src/server/clients.rs
  lightyear/src/server/connection.rs
  lightyear/src/server/networking.rs
  lightyear/src/server/replication.rs
  lightyear/src/shared/replication/receive.rs
Labels: C-Bug, A-Replication

#583 Add rollback for non-networked components
  NOTES.md
  lightyear/src/client/connection.rs
  lightyear/src/client/interpolation/visual_interpolation.rs
  lightyear/src/client/message.rs
  lightyear/src/client/prediction/plugin.rs
  lightyear/src/client/prediction/pre_prediction.rs
  lightyear/src/client/prediction/predicted_history.rs
  lightyear/src/client/prediction/prespawn.rs
  lightyear/src/client/prediction/rollback.rs
  lightyear/src/client/replication.rs
  lightyear/src/client/sync.rs
  lightyear/src/protocol/component.rs
  lightyear/src/protocol/delta.rs
  lightyear/src/server/events.rs
  lightyear/src/server/message.rs
  lightyear/src/server/replication.rs
  lightyear/src/shared/replication/delta.rs
  lightyear/src/shared/replication/entity_map.rs
  lightyear/src/shared/replication/hierarchy.rs
  lightyear/src/shared/replication/send.rs
  lightyear/src/tests/integration/tick_wrapping.rs
  lightyear/src/tests/protocol.rs
  lightyear/src/utils/ready_buffer.rs
Labels: A-Prediction

#591 Allow seamless entity mapping
  NOTES.md
  examples/avian_physics/src/server.rs
  examples/client_replication/src/client.rs
  examples/lobby/src/client.rs
  examples/lobby/src/server.rs
  examples/simple_box/src/server.rs
  examples/spaceships/src/server.rs
  lightyear/Cargo.toml
  lightyear/src/client/connection.rs
  lightyear/src/client/input/leafwing.rs
  lightyear/src/client/input/native.rs
  lightyear/src/client/message.rs
  lightyear/src/lib.rs
  lightyear/src/protocol/component.rs
  lightyear/src/protocol/message.rs
  lightyear/src/protocol/serialize.rs
  lightyear/src/server/connection.rs
  lightyear/src/server/input/leafwing.rs
  lightyear/src/server/message.rs
  lightyear/src/server/replication.rs
  lightyear/src/shared/message.rs
  lightyear/src/shared/replication/resources.rs
Labels: A-Replication

#592 Fix resource replication in host-server mode
  lightyear/src/client/connection.rs
  lightyear/src/client/input/leafwing.rs
  lightyear/src/client/interpolation/interpolate.rs
  lightyear/src/client/interpolation/visual_interpolation.rs
  lightyear/src/client/message.rs
  lightyear/src/client/networking.rs
  lightyear/src/client/prediction/despawn.rs
  lightyear/src/client/prediction/pre_prediction.rs
  lightyear/src/client/prediction/predicted_history.rs
  lightyear/src/client/prediction/prespawn.rs
  lightyear/src/client/prediction/rollback.rs
  lightyear/src/client/replication.rs
  lightyear/src/client/sync.rs
  lightyear/src/server/clients.rs
  lightyear/src/server/connection.rs
  lightyear/src/server/input/leafwing.rs
  lightyear/src/server/message.rs
  lightyear/src/server/relevance/room.rs
  lightyear/src/server/replication.rs
  lightyear/src/shared/replication/entity_map.rs
  lightyear/src/shared/replication/hierarchy.rs
  lightyear/src/shared/replication/resources.rs
  lightyear/src/shared/replication/send.rs
  lightyear/src/tests/host_server_stepper.rs
  lightyear/src/tests/integration/multi_transport.rs
  lightyear/src/tests/integration/tick_wrapping.rs
  lightyear/src/tests/multi_stepper.rs
  lightyear/src/tests/stepper.rs
Labels: C-Bug, A-Replication

#594 Add authority handling natively
  NOTES.md
  book/src/SUMMARY.md
  book/src/concepts/advanced_replication/authority.md
  lightyear/src/channel/builder.rs
  lightyear/src/client/connection.rs
  lightyear/src/client/networking.rs
  lightyear/src/client/replication.rs
  lightyear/src/protocol/channel.rs
  lightyear/src/protocol/component.rs
  lightyear/src/server/connection.rs
  lightyear/src/server/events.rs
  lightyear/src/server/networking.rs
  lightyear/src/server/replication.rs
  lightyear/src/shared/plugin.rs
  lightyear/src/shared/replication/archetypes.rs
  lightyear/src/shared/replication/authority.rs
  lightyear/src/shared/replication/hierarchy.rs
  lightyear/src/shared/replication/mod.rs
  lightyear/src/shared/replication/plugin.rs
  lightyear/src/shared/replication/receive.rs
  lightyear/src/tests/stepper.rs
Labels: A-Replication

#597 Add an example for authority transfer
  book/src/concepts/advanced_replication/authority.md
  examples/common/src/app.rs
  examples/common/src/shared.rs
  examples/distributed_authority/.cargo/config.toml
  examples/distributed_authority/Cargo.toml
  examples/distributed_authority/README.md
  examples/distributed_authority/assets/settings.ron
  examples/distributed_authority/index.html
  examples/distributed_authority/src/client.rs
  examples/distributed_authority/src/main.rs
  examples/distributed_authority/src/protocol.rs
  examples/distributed_authority/src/server.rs
  examples/distributed_authority/src/shared.rs
  lightyear/src/client/connection.rs
  lightyear/src/client/input/leafwing.rs
  lightyear/src/client/interpolation/interpolation_history.rs
  lightyear/src/client/prediction/pre_prediction.rs
  lightyear/src/client/replication.rs
  lightyear/src/client/sync.rs
  lightyear/src/lib.rs
  lightyear/src/protocol/component.rs
  lightyear/src/protocol/message.rs
  lightyear/src/protocol/serialize.rs
  lightyear/src/serialize/varint.rs
  lightyear/src/server/connection.rs
  lightyear/src/server/input/leafwing.rs
  lightyear/src/server/networking.rs
  lightyear/src/server/relevance/room.rs
  lightyear/src/server/replication.rs
  lightyear/src/shared/events/components.rs
  lightyear/src/shared/replication/authority.rs
  lightyear/src/shared/replication/entity_map.rs
  lightyear/src/shared/replication/mod.rs
  lightyear/src/shared/replication/receive.rs
  lightyear/src/shared/replication/send.rs
  lightyear/src/tests/integration/tick_wrapping.rs
  lightyear/src/tests/multi_stepper.rs
  lightyear/src/tests/protocol.rs
Labels: A-Replication, C-Example

#598 Fix Pre-Prediction
  NOTES.md
  examples/avian_physics/src/protocol.rs
  examples/avian_physics/src/server.rs
  examples/avian_physics/src/shared.rs
  examples/client_replication/src/server.rs
  examples/common/src/app.rs
  examples/simple_box/src/client.rs
  lightyear/src/client/input/leafwing.rs
  lightyear/src/client/networking.rs
  lightyear/src/client/prediction/plugin.rs
  lightyear/src/client/prediction/pre_prediction.rs
  lightyear/src/client/replication.rs
  lightyear/src/protocol/component.rs
  lightyear/src/server/prediction.rs
  lightyear/src/server/replication.rs
  lightyear/src/shared/replication/authority.rs
  lightyear/src/shared/replication/components.rs
  lightyear/src/shared/replication/hierarchy.rs
Labels: C-Bug, A-Prediction

#601 Make the RemoteEntityMap public
  lightyear/src/client/connection.rs
  lightyear/src/server/connection.rs
  lightyear/src/shared/replication/entity_map.rs
  lightyear/src/shared/replication/receive.rs
Labels: C-Usability

#609 Fix listen-server commands in examples
  examples/README.md
  examples/auth/README.md
  examples/avian_physics/README.md
  examples/bullet_prespawn/README.md
  examples/client_replication/README.md
  examples/distributed_authority/README.md
  examples/distributed_authority/src/main.rs
  examples/interest_management/README.md
  examples/lobby/src/main.rs
  examples/priority/README.md
  examples/replication_groups/README.md
  examples/simple_box/README.md
  examples/simple_box/src/main.rs
Labels: C-Docs, C-Example

#612 Use the parent's ReplicationGroup when propagating it to the children
  lightyear/src/client/prediction/pre_prediction.rs
  lightyear/src/server/replication.rs
  lightyear/src/shared/replication/hierarchy.rs
Labels: C-Bug, A-Replication

#615 Fix panic when sending too many messages in one packet
  lightyear/src/client/config.rs
  lightyear/src/client/input/leafwing.rs
  lightyear/src/client/networking.rs
  lightyear/src/client/prediction/rollback.rs
  lightyear/src/packet/message_manager.rs
  lightyear/src/packet/packet_builder.rs
  lightyear/src/serialize/reader.rs
  lightyear/src/serialize/varint.rs
Labels: C-Bug, A-Serialization
