Repository cBournhonesque/lightyear, pull requests merged in 2025-07, with the labels that each got.

#1054 chore(docs)
  .github/workflows/main.yaml
  .github/workflows/website.yaml
  book/src/tutorial/advanced_systems.md
  book/src/tutorial/basic_systems.md
  book/src/tutorial/build_client_server.md
  book/src/tutorial/setup.md
  lightyear/Cargo.toml
  lightyear/src/lib.rs
  lightyear_avian/src/plugin.rs
  lightyear_frame_interpolation/src/lib.rs
  lightyear_inputs_leafwing/src/lib.rs
  lightyear_inputs_native/src/lib.rs
  lightyear_link/src/lib.rs
  lightyear_messages/src/lib.rs
  lightyear_messages/src/plugin.rs
  lightyear_messages/src/receive.rs
  lightyear_messages/src/registry.rs
  lightyear_messages/src/send.rs
  lightyear_netcode/src/lib.rs
  lightyear_prediction/src/correction.rs
  lightyear_prediction/src/prespawn.rs
  lightyear_replication/src/delta.rs
  lightyear_replication/src/delta_mut.rs
  lightyear_replication/src/lib.rs
  lightyear_replication/src/registry/registry.rs
  lightyear_replication/src/registry/replication.rs
  lightyear_replication/src/send/components.rs
  lightyear_replication/src/send/sender.rs
  lightyear_replication/src/visibility/immediate.rs
  lightyear_sync/src/timeline/mod.rs
  lightyear_sync/src/timeline/remote.rs
  lightyear_tests/src/client_server/replication_advanced.rs
  lightyear_transport/src/channel/builder.rs
  lightyear_transport/src/channel/mod.rs
  lightyear_transport/src/packet/priority_manager.rs
Labels: C-Docs

#1057 chore(book): fix book ci
  book/.gitignore
  book/book.toml
  book/mermaid-init.js
  book/mermaid.min.js
Labels: C-Book

#1058 Separate avian into 2 crates + fix delta-compression example
  .github/workflows/main.yaml
  Cargo.toml
  book/src/tutorial/build_client_server.md
  book/src/tutorial/setup.md
  examples/avian_3d_character/Cargo.toml
  examples/avian_physics/Cargo.toml
  examples/delta_compression/Cargo.toml
  examples/delta_compression/src/client.rs
  examples/delta_compression/src/main.rs
  examples/delta_compression/src/protocol.rs
  examples/delta_compression/src/server.rs
  examples/fps/Cargo.toml
  examples/fps/src/renderer.rs
  examples/fps/src/server.rs
  examples/simple_box/Cargo.toml
  examples/simple_box/src/protocol.rs
  lightyear/Cargo.toml
  lightyear/src/lib.rs
  lightyear/src/shared.rs
  lightyear_avian/Cargo.toml
  lightyear_avian/src/lib.rs
  lightyear_avian2d/CHANGELOG.md
  lightyear_avian2d/Cargo.toml
  lightyear_avian3d/CHANGELOG.md
  lightyear_avian3d/Cargo.toml
  lightyear_replication/src/lib.rs
Labels: C-Docs

#1060 Fix lobby example to allow host-clients
  .github/workflows/main.yaml
  examples/lobby/src/client.rs
  examples/lobby/src/main.rs
  examples/lobby/src/server.rs
  lightyear_netcode/src/client_plugin.rs
Labels: C-Example

#1067 fix(bug): fix important bug on input broadcast
  NOTES.md
  examples/avian_physics/src/main.rs
  examples/avian_physics/src/shared.rs
  examples/common/src/cli.rs
  lightyear_frame_interpolation/src/lib.rs
  lightyear_inputs/src/client.rs
  lightyear_prediction/src/correction.rs
  lightyear_prediction/src/plugin.rs
  lightyear_sync/src/timeline/input.rs
  lightyear_tests/src/client_server/input/native.rs
  lightyear_tests/src/client_server/prediction/correction.rs
Labels: A-Prediction, A-Input

#1069 Make sure that remote inputs are correct during rollbacks
  lightyear_frame_interpolation/src/lib.rs
  lightyear_inputs/src/client.rs
  lightyear_prediction/src/correction.rs
  lightyear_tests/src/client_server/input/native.rs
Labels: A-Prediction, A-Input

#1076 chore(docs): explain handle_predicted_spawn more
  examples/simple_box/src/client.rs
Labels: C-Docs, C-Example

#1078 skip crossbeam links in ServerUdpIO
  README.md
  lightyear_link/src/server.rs
  lightyear_udp/src/server.rs
Labels: C-Bug, A-Transport

#1089 fix(rollback): More rollback fixes for deterministic replication
  examples/deterministic_replication/src/client.rs
  examples/deterministic_replication/src/shared.rs
  lightyear_core/src/history_buffer.rs
  lightyear_inputs/src/client.rs
  lightyear_prediction/src/manager.rs
  lightyear_prediction/src/rollback.rs
  lightyear_tests/src/client_server/prediction/history.rs
Labels: C-Bug, A-Prediction, C-Example

#1091 feat(rollback): Add RollbackMode::Check for inputs
  lightyear_inputs/src/client.rs
  lightyear_inputs/src/input_buffer.rs
  lightyear_inputs/src/input_message.rs
  lightyear_inputs_bei/Cargo.toml
  lightyear_inputs_bei/src/input_message.rs
  lightyear_inputs_leafwing/Cargo.toml
  lightyear_inputs_leafwing/src/input_message.rs
  lightyear_inputs_native/src/input_message.rs
  lightyear_prediction/src/manager.rs
  lightyear_prediction/src/rollback.rs
  lightyear_tests/src/client_server/input/bei.rs
  lightyear_tests/src/client_server/prediction/history.rs
  lightyear_tests/src/client_server/prediction/mod.rs
  lightyear_tests/src/client_server/prediction/rollback.rs
Labels: A-Prediction

#1092 feat(deterministic): Add lightyear_deterministic_replication
  Cargo.toml
  NOTES.md
  examples/deterministic_replication/Cargo.toml
  examples/deterministic_replication/src/client.rs
  examples/deterministic_replication/src/protocol.rs
  examples/deterministic_replication/src/server.rs
  examples/deterministic_replication/src/shared.rs
  lightyear/Cargo.toml
  lightyear/src/client.rs
  lightyear/src/lib.rs
  lightyear/src/server.rs
  lightyear/src/shared.rs
  lightyear_avian/src/lib.rs
  lightyear_avian/src/plugin.rs
  lightyear_avian/src/types_2d.rs
  lightyear_avian/src/types_3d.rs
  lightyear_avian2d/Cargo.toml
  lightyear_avian3d/Cargo.toml
  lightyear_deterministic_replication/Cargo.toml
  lightyear_deterministic_replication/src/archetypes.rs
  lightyear_deterministic_replication/src/checksum.rs
  lightyear_deterministic_replication/src/lib.rs
  lightyear_deterministic_replication/src/plugin.rs
  lightyear_inputs/src/client.rs
  lightyear_inputs/src/lib.rs
  lightyear_prediction/Cargo.toml
  lightyear_prediction/src/correction.rs
  lightyear_prediction/src/lib.rs
  lightyear_prediction/src/manager.rs
  lightyear_prediction/src/plugin.rs
  lightyear_prediction/src/predicted_history.rs
  lightyear_prediction/src/registry.rs
  lightyear_prediction/src/rollback.rs
  lightyear_replication/Cargo.toml
  lightyear_replication/src/registry/delta.rs
  lightyear_replication/src/registry/deterministic.rs
  lightyear_replication/src/registry/mod.rs
  lightyear_replication/src/registry/registry.rs
  lightyear_replication/src/registry/replication.rs
  lightyear_replication/src/send/archetypes.rs
  lightyear_replication/src/send/buffer.rs
  lightyear_replication/src/send/buffer_bis.rs
  lightyear_replication/src/send/plugin.rs
  lightyear_replication/src/send/sender.rs
  lightyear_tests/src/client_server/prediction/rollback.rs
  lightyear_utils/Cargo.toml
  lightyear_utils/src/ecs.rs
  lightyear_utils/src/lib.rs
Labels: A-Prediction

#1099 fix(lockstep): fixes for lockstep
  NOTES.md
  examples/deterministic_replication/src/main.rs
  examples/deterministic_replication/src/shared.rs
  lightyear_deterministic_replication/src/checksum.rs
  lightyear_inputs/src/client.rs
  lightyear_inputs/src/input_buffer.rs
  lightyear_inputs/src/input_message.rs
  lightyear_link/src/lib.rs
  lightyear_prediction/src/resource_history.rs
  lightyear_sync/src/timeline/input.rs
  lightyear_sync/src/timeline/sync.rs
Labels: A-Prediction, A-Input

#1104 chore(docs): improve docs for ShouldRollbackFn
  lightyear_netcode/src/token.rs
  lightyear_prediction/src/registry.rs
Labels: A-Prediction, C-Docs

#1112 fix(avian): update avian examples
  examples/avian_3d_character/src/main.rs
  examples/avian_3d_character/src/renderer.rs
  examples/avian_3d_character/src/shared.rs
  examples/avian_physics/src/renderer.rs
  examples/deterministic_replication/Cargo.toml
  examples/deterministic_replication/src/main.rs
  examples/deterministic_replication/src/protocol.rs
  examples/deterministic_replication/src/shared.rs
  lightyear/src/shared.rs
  lightyear_avian/src/correction_2d.rs
  lightyear_avian/src/lib.rs
  lightyear_avian/src/plugin.rs
  lightyear_avian2d/Cargo.toml
  lightyear_frame_interpolation/src/lib.rs
  lightyear_inputs/src/client.rs
  lightyear_interpolation/src/lib.rs
  lightyear_prediction/src/correction.rs
  lightyear_prediction/src/rollback.rs
  lightyear_sync/src/timeline/input.rs
Labels: C-Bug, A-Prediction, C-Example

#1119 fix(rollback): fix pre-spawned bullets not working in spaceships example
  demos/spaceships/src/client.rs
  demos/spaceships/src/server.rs
  demos/spaceships/src/shared.rs
  lightyear_inputs/src/client.rs
  lightyear_inputs/src/input_message.rs
  lightyear_inputs_bei/src/input_message.rs
  lightyear_inputs_bei/src/lib.rs
  lightyear_inputs_leafwing/Cargo.toml
  lightyear_inputs_leafwing/src/input_message.rs
  lightyear_inputs_leafwing/src/lib.rs
  lightyear_inputs_native/src/input_message.rs
  lightyear_inputs_native/src/lib.rs
  lightyear_prediction/src/despawn.rs
  lightyear_prediction/src/rollback.rs
  lightyear_sync/src/timeline/input.rs
  lightyear_sync/src/timeline/sync.rs
  lightyear_tests/src/client_server/input/leafwing.rs
  lightyear_tests/src/host_server/input/leafwing.rs
Labels: C-Bug, A-Prediction, A-Input, C-Example

#1138 Fix deterministic example host-client
  examples/deterministic_replication/src/shared.rs
  lightyear/src/client.rs
  lightyear_messages/src/client.rs
  lightyear_messages/src/server.rs
  lightyear_steam/Cargo.toml
Labels: C-Example
