Repository cBournhonesque/lightyear, pull requests merged in 2025-09, with the labels that each got.

#1212 Fix steam callback system
  lightyear_steam/src/lib.rs
Labels: A-Transport

#1217 feature: simplify interpolation
  demos/spaceships/src/renderer.rs
  examples/avian_3d_character/src/renderer.rs
  examples/bevy_enhanced_inputs/src/shared.rs
  examples/replication_groups/src/client.rs
  examples/simple_box/src/shared.rs
  lightyear_core/src/history_buffer.rs
  lightyear_interpolation/src/despawn.rs
  lightyear_interpolation/src/interpolate.rs
  lightyear_interpolation/src/interpolation_history.rs
  lightyear_interpolation/src/lib.rs
  lightyear_interpolation/src/plugin.rs
  lightyear_interpolation/src/registry.rs
  lightyear_interpolation/src/sync.rs
  lightyear_transport/src/packet/priority_manager.rs
  lightyear_transport/src/plugin.rs
Labels: A-Interpolation

#1222 fix: make bot shoot as well
  examples/projectiles/src/protocol.rs
  examples/projectiles/src/renderer.rs
  examples/projectiles/src/server.rs
  examples/projectiles/src/shared.rs
  lightyear_interpolation/src/registry.rs
  lightyear_interpolation/src/spawn.rs
  lightyear_prediction/src/rollback.rs
  lightyear_prediction/src/spawn.rs
  lightyear_tests/src/stepper.rs
Labels: C-Example
