Repository cBournhonesque/lightyear, pull requests merged in 2025-01, with the labels that each got.

#754 Add event replication
  CHANGELOG.md
  examples/simple_box/src/server.rs
  lightyear/src/client/connection.rs
  lightyear/src/client/events.rs
  lightyear/src/lib.rs
  lightyear/src/protocol/event.rs
  lightyear/src/protocol/message.rs
  lightyear/src/protocol/mod.rs
  lightyear/src/server/connection.rs
  lightyear/src/server/events.rs
  lightyear/src/server/message.rs
  lightyear/src/shared/events/mod.rs
  lightyear/src/shared/message.rs
  lightyear/src/tests/protocol.rs
Labels: A-Replication

#755 Re-add serde to examples
  examples/avian_3d_character/Cargo.toml
  examples/bullet_prespawn/Cargo.toml
  examples/spaceships/Cargo.toml
Labels: C-Example

#756 fix auth example
  examples/auth/Cargo.toml
Labels: C-Example

#759 Fix prediction/interpolation interaction with authority transfer
  lightyear/src/client/interpolation/interpolation_history.rs
  lightyear/src/client/interpolation/spawn.rs
  lightyear/src/client/prediction/predicted_history.rs
  lightyear/src/client/prediction/spawn.rs
  lightyear/src/client/replication.rs
  lightyear/src/protocol/serialize.rs
  lightyear/src/server/replication.rs
  lightyear/src/shared/plugin.rs
  lightyear/src/shared/replication/authority.rs
  lightyear/src/shared/replication/receive.rs
Labels: A-Replication

#766 Improvements to room logic
  lightyear/src/client/sync.rs
  lightyear/src/server/relevance/immediate.rs
  lightyear/src/server/relevance/room.rs
  lightyear/src/server/replication.rs
  lightyear/src/shared/replication/receive.rs
  lightyear/src/shared/replication/send.rs
Labels: A-Visibility

#767 Add interest management unit test
  lightyear/src/server/relevance/room.rs
Labels: A-Visibility

#768 Add unit test for entity-despawns with interest-management
  lightyear/src/server/relevance/immediate.rs
  lightyear/src/server/relevance/room.rs
Labels: A-Replication, A-Visibility

#769 Improve the server stop logic
  CHANGELOG.md
  examples/common/src/app.rs
  examples/simple_box/src/server.rs
  lightyear/src/client/connection.rs
  lightyear/src/client/input/native.rs
  lightyear/src/client/prediction/pre_prediction.rs
  lightyear/src/connection/netcode/server.rs
  lightyear/src/connection/server.rs
  lightyear/src/server/connection.rs
  lightyear/src/server/input/native.rs
  lightyear/src/server/networking.rs
  lightyear/src/server/run_conditions.rs
  lightyear/src/shared/plugin.rs
  lightyear/src/shared/run_conditions.rs
  lightyear/src/transport/webtransport/server.rs
Labels: A-Netcode

#771 Fix replicate propagation through hierarchy
  lightyear/src/shared/replication/hierarchy.rs
Labels: C-Bug, A-Replication

#770 Update Docs, closes #386
  lightyear/src/channel/builder.rs
Labels: C-Docs

#772 Make sure that hierarchy is propagated correctly to Predicted/Interpolated entities
  CHANGELOG.md
  lightyear/src/client/prediction/spawn.rs
  lightyear/src/shared/plugin.rs
  lightyear/src/shared/replication/hierarchy.rs
Labels: A-Prediction, A-Replication, A-Interpolation

#773 add unit test for adding a child to ReplicateHierarchy.recursive=true
  lightyear/src/shared/replication/hierarchy.rs
Labels: A-Replication

#774 add benchmark to measure compilation times
  Cargo.toml
  benches/bitcode_packing/Cargo.toml
  benches/bitcode_packing/src/main.rs
  benches/compiletime/Cargo.toml
  benches/compiletime/run.sh
  benches/compiletime/src/main.rs
  benches/criterion/Cargo.toml
  benches/criterion/bench.sh
  benches/criterion/src/lib.rs
  benches/criterion/src/local_stepper.rs
  benches/criterion/src/message.rs
  benches/criterion/src/profiler.rs
  benches/criterion/src/protocol.rs
  benches/criterion/src/replication.rs
  benches/criterion/src/replication_profiling.rs
  benches/flamegraph.svg
  lightyear/src/client/replication.rs
Labels: C-Usability

#775 Type erase the receive-message and receive-event systems
  CHANGELOG.md
  examples/avian_3d_character/src/server.rs
  examples/avian_physics/src/server.rs
  examples/client_replication/src/server.rs
  examples/delta_compression/src/server.rs
  examples/distributed_authority/src/server.rs
  examples/lobby/src/server.rs
  examples/replication_groups/src/server.rs
  examples/simple_box/src/server.rs
  examples/spaceships/src/server.rs
  lightyear/src/client/connection.rs
  lightyear/src/client/events.rs
  lightyear/src/client/message.rs
  lightyear/src/client/plugin.rs
  lightyear/src/lib.rs
  lightyear/src/protocol/event.rs
  lightyear/src/protocol/message.rs
  lightyear/src/server/connection.rs
  lightyear/src/server/events.rs
  lightyear/src/server/input/native.rs
  lightyear/src/server/message.rs
  lightyear/src/server/plugin.rs
  lightyear/src/shared/events/components.rs
  lightyear/src/shared/events/mod.rs
  lightyear/src/shared/input/leafwing.rs
  lightyear/src/shared/input/native.rs
  lightyear/src/shared/replication/resources.rs
Labels: C-Performance

#778 Improve flow to disconnect client
  CHANGELOG.md
  lightyear/src/connection/server.rs
  lightyear/src/lib.rs
  lightyear/src/server/connection.rs
  lightyear/src/server/networking.rs
  lightyear/src/shared/events/components.rs
Labels: A-Netcode

#780 Use ComponentHooks to maintain the prediction/confirmed map in sync
  lightyear/src/client/interpolation/despawn.rs
  lightyear/src/client/interpolation/mod.rs
  lightyear/src/client/interpolation/spawn.rs
  lightyear/src/client/prediction/despawn.rs
  lightyear/src/client/prediction/mod.rs
  lightyear/src/client/prediction/prespawn.rs
  lightyear/src/client/prediction/spawn.rs
Labels: A-Prediction, A-Interpolation

#781 update entity map to return Entity::PLACEHOLDER if the mapping fails
  lightyear/src/shared/replication/authority.rs
  lightyear/src/shared/replication/entity_map.rs
Labels: C-Usability

#788 Fix rollback for pre-predicted entities
  lightyear/src/client/prediction/pre_prediction.rs
  lightyear/src/client/prediction/predicted_history.rs
  lightyear/src/client/prediction/rollback.rs
  lightyear/src/shared/replication/authority.rs
Labels: A-Prediction, A-Replication

#794 Add method to get client_addr from client_id
  lightyear/src/client/prediction/rollback.rs
  lightyear/src/connection/server.rs
Labels: A-Transport

#798 Update HistoryBuffers during client TickEvents
  examples/avian_3d_character/src/renderer.rs
  examples/avian_3d_character/src/settings.rs
  examples/avian_3d_character/src/shared.rs
  lightyear/src/client/prediction/despawn.rs
  lightyear/src/client/prediction/history.rs
  lightyear/src/client/prediction/mod.rs
  lightyear/src/client/prediction/plugin.rs
  lightyear/src/client/prediction/predicted_history.rs
  lightyear/src/client/prediction/prespawn.rs
  lightyear/src/client/prediction/resource_history.rs
  lightyear/src/client/prediction/rollback.rs
  lightyear/src/client/sync.rs
  lightyear/src/tests/stepper.rs
  lightyear/src/utils/avian2d.rs
  lightyear/src/utils/avian3d.rs
Labels: A-Prediction

#799 Rollback improvements
  examples/avian_3d_character/src/client.rs
  examples/avian_3d_character/src/protocol.rs
  examples/avian_3d_character/src/renderer.rs
  examples/avian_3d_character/src/server.rs
  examples/avian_3d_character/src/shared.rs
  lightyear/src/client/interpolation/visual_interpolation.rs
Labels: A-Prediction, C-Example

#802 Add metrics visualizer
  CHANGELOG.md
  Cargo.toml
  examples/auth/Cargo.toml
  examples/avian_3d_character/Cargo.toml
  examples/avian_3d_character/src/protocol.rs
  examples/avian_3d_character/src/server.rs
  examples/avian_physics/Cargo.toml
  examples/bullet_prespawn/Cargo.toml
  examples/client_replication/Cargo.toml
  examples/common/Cargo.toml
  examples/common/src/app.rs
  examples/common/src/renderer.rs
  examples/delta_compression/Cargo.toml
  examples/distributed_authority/Cargo.toml
  examples/interest_management/Cargo.toml
  examples/lobby/Cargo.toml
  examples/priority/Cargo.toml
  examples/replication_groups/Cargo.toml
  examples/simple_box/Cargo.toml
  examples/simple_setup/Cargo.toml
  examples/simple_setup/src/server.rs
  examples/spaceships/Cargo.toml
  lightyear/Cargo.toml
  lightyear/src/channel/builder.rs
  lightyear/src/client/connection.rs
  lightyear/src/client/networking.rs
  lightyear/src/client/prediction/plugin.rs
  lightyear/src/client/prediction/rollback.rs
  lightyear/src/client/prediction/spawn.rs
  lightyear/src/client/sync.rs
  lightyear/src/packet/message_manager.rs
  lightyear/src/packet/stats_manager.rs
  lightyear/src/protocol/channel.rs
  lightyear/src/protocol/component.rs
  lightyear/src/server/connection.rs
  lightyear/src/server/networking.rs
  lightyear/src/shared/events/connection.rs
  lightyear/src/shared/log.rs
  lightyear/src/shared/mod.rs
  lightyear/src/shared/ping/manager.rs
  lightyear/src/shared/plugin.rs
  lightyear/src/shared/replication/send.rs
  lightyear/src/transport/io.rs
  lightyear/src/utils/avian2d.rs
  lightyear/src/utils/avian3d.rs
  macros/src/channel.rs
Labels: C-Usability

#804 Fix ServerConnection::client_addr
  benches/bitcode_packing/Cargo.toml
  lightyear/src/connection/netcode/server.rs
  lightyear/src/connection/server.rs
  lightyear/src/connection/steam/server.rs
Labels: A-Transport

#805 Refactor examples to build a single binary
  benches/bitcode_packing/Cargo.toml
  benches/criterion/Cargo.toml
  examples/README.md
  examples/auth/README.md
  examples/auth/src/settings.rs
  examples/avian_3d_character/Cargo.toml
  examples/avian_3d_character/README.md
  examples/avian_3d_character/src/main.rs
  examples/avian_3d_character/src/settings.rs
  examples/avian_physics/Cargo.toml
  examples/avian_physics/README.md
  examples/avian_physics/src/settings.rs
  examples/bullet_prespawn/Cargo.toml
  examples/bullet_prespawn/README.md
  examples/bullet_prespawn/src/settings.rs
  examples/client_replication/Cargo.toml
  examples/client_replication/README.md
  examples/client_replication/src/settings.rs
  examples/common/src/app.rs
  examples/common/src/bevygap_shared.rs
  examples/common/src/client_renderer.rs
  examples/common/src/lib.rs
  examples/common/src/server_renderer.rs
  examples/delta_compression/Cargo.toml
  examples/delta_compression/README.md
  examples/delta_compression/src/settings.rs
  examples/distributed_authority/Cargo.toml
  examples/distributed_authority/README.md
  examples/distributed_authority/src/client.rs
  examples/distributed_authority/src/settings.rs
  examples/interest_management/Cargo.toml
  examples/interest_management/README.md
  examples/interest_management/src/settings.rs
  examples/lobby/Cargo.toml
  examples/lobby/src/main.rs
  examples/lobby/src/settings.rs
  examples/priority/Cargo.toml
  examples/priority/README.md
  examples/priority/src/settings.rs
  examples/replication_groups/Cargo.toml
  examples/replication_groups/README.md
  examples/replication_groups/src/settings.rs
  examples/simple_box/Cargo.toml
  examples/simple_box/README.md
  examples/simple_box/src/server.rs
  examples/simple_box/src/settings.rs
  examples/spaceships/Cargo.toml
  examples/spaceships/README.md
  examples/spaceships/src/settings.rs
  lightyear/src/client/prediction/rollback.rs
  lightyear/src/utils/avian2d.rs
Labels: C-Example

#808 Spaceships predicted despawn behaviour
  examples/spaceships/src/shared.rs
  lightyear/src/client/prediction/despawn.rs
  lightyear/src/client/prediction/rollback.rs
Labels: A-Prediction, C-Example

#810 Add metrics for rollback
  lightyear/src/client/prediction/history.rs
  lightyear/src/client/prediction/plugin.rs
  lightyear/src/client/prediction/rollback.rs
Labels: A-Prediction, C-Usability

#812 add unit tests for predicted despawn
  lightyear/src/client/prediction/despawn.rs
  lightyear/src/client/prediction/mod.rs
Labels: A-Prediction

#813 Add non-networked component to despawned predicted entity test
  lightyear/src/client/prediction/despawn.rs
Labels: A-Prediction

#815 Fix extra rollbacks on pre-spawned entities
  lightyear/src/client/prediction/history.rs
  lightyear/src/client/prediction/predicted_history.rs
  lightyear/src/client/prediction/rollback.rs
  lightyear/src/utils/avian2d.rs
  lightyear/src/utils/avian3d.rs
Labels: A-Prediction

#819 Fix despawn for pre-spawned entities
  lightyear/src/client/prediction/despawn.rs
  lightyear/src/client/prediction/history.rs
  lightyear/src/client/prediction/plugin.rs
  lightyear/src/client/prediction/predicted_history.rs
  lightyear/src/client/prediction/prespawn.rs
  lightyear/src/client/prediction/rollback.rs
Labels: A-Prediction

#820 Fix leafwing ActionState staying stuck in JustPressed or JustReleased
  lightyear/src/client/input/leafwing.rs
Labels: C-Bug, A-Input

#821 Fix hashing in bullet-prespawn example
  examples/bullet_prespawn/src/protocol.rs
  examples/bullet_prespawn/src/shared.rs
  lightyear/src/client/prediction/prespawn.rs
Labels: A-Prediction, C-Example

#822 Add alias for Replicate
  lightyear/src/lib.rs
Labels: C-Usability

#823 add metrics for inputs
  lightyear/src/client/connection.rs
  lightyear/src/client/input/leafwing.rs
  lightyear/src/client/plugin.rs
  lightyear/src/client/prediction/despawn.rs
  lightyear/src/client/prediction/predicted_history.rs
  lightyear/src/client/prediction/prespawn.rs
  lightyear/src/client/prediction/rollback.rs
  lightyear/src/client/sync.rs
  lightyear/src/inputs/leafwing/input_buffer.rs
  lightyear/src/server/input/leafwing.rs
Labels: A-Prediction, A-Input

#824 Allow not replicating hierarchy
  lightyear/src/shared/replication/components.rs
  lightyear/src/shared/replication/hierarchy.rs
Labels: A-Replication

#825 Improve visual interpolation for examples
  .gitignore
  examples/avian_3d_character/src/protocol.rs
  examples/avian_3d_character/src/renderer.rs
  examples/avian_3d_character/src/server.rs
  examples/avian_3d_character/src/shared.rs
  examples/avian_physics/src/client.rs
  examples/avian_physics/src/protocol.rs
  examples/avian_physics/src/renderer.rs
  examples/avian_physics/src/shared.rs
  examples/spaceships/src/protocol.rs
  examples/spaceships/src/renderer.rs
  examples/spaceships/src/shared.rs
  lightyear/src/protocol/component.rs
  lightyear/src/utils/avian2d.rs
  lightyear/src/utils/avian3d.rs
Labels: A-Prediction, C-Example

#838 Use a varint to serialize the fragment id and num_fragments for fragment messages
  lightyear/Cargo.toml
  lightyear/src/packet/message.rs
  lightyear/src/packet/packet.rs
  lightyear/src/utils/history_buffer.rs
Labels: A-Serialization

#843 Fix simple setup example
  examples/common/src/app.rs
  examples/common/src/settings.rs
  examples/simple_setup/Cargo.toml
  examples/simple_setup/src/main.rs
Labels: C-Example

#841 Separate new() and new_with_app_id()
  lightyear/src/connection/client.rs
  lightyear/src/connection/server.rs
  lightyear/src/connection/steam/steamworks_client.rs
Labels: A-Transport

#844 Emit disconnect event on connection failure
  examples/simple_setup/src/client.rs
  lightyear/src/client/events.rs
  lightyear/src/client/networking.rs
  lightyear/src/connection/client.rs
  lightyear/src/connection/netcode/client.rs
Labels: A-Netcode, A-Transport

#845 fixup disconnect events firing, adapt steam disconnections to ConnectionError
  lightyear/src/client/networking.rs
  lightyear/src/connection/client.rs
  lightyear/src/connection/steam/client.rs
Labels: A-Transport

#857 Add batch write for replication receive
  Cargo.toml
  lightyear/src/client/connection.rs
  lightyear/src/client/networking.rs
  lightyear/src/client/prediction/prespawn.rs
  lightyear/src/protocol/component.rs
  lightyear/src/protocol/delta.rs
  lightyear/src/protocol/serialize.rs
  lightyear/src/server/connection.rs
  lightyear/src/server/networking.rs
  lightyear/src/server/replication.rs
  lightyear/src/shared/replication/delta.rs
  lightyear/src/shared/replication/receive.rs
Labels: A-Replication

#854 Improve error handling and reporting for Netcode
  lightyear/src/connection/netcode/client.rs
  lightyear/src/connection/netcode/error.rs
  lightyear/src/connection/netcode/server.rs
  lightyear/src/connection/server.rs
  lightyear/src/connection/steam/server.rs
  lightyear/src/server/networking.rs
Labels: A-Transport

#858 Remove replicated components in batch
  lightyear/src/protocol/component.rs
  lightyear/src/shared/replication/receive.rs
Labels: A-Replication

#860 Allow confirmed->predicted entity mapping to fail
  lightyear/src/shared/replication/entity_map.rs
Labels: A-Prediction
