Repository cBournhonesque/lightyear, pull requests merged in 2025-08, with the labels that each got.

#1144 fix(steam): prevent Steam LinkOfs from using Netcode
  examples/common/src/cli.rs
  examples/common/src/server.rs
  examples/common/src/shared.rs
  lightyear_aeronet/Cargo.toml
  lightyear_aeronet/src/lib.rs
  lightyear_connection/src/client.rs
  lightyear_connection/src/client_of.rs
  lightyear_crossbeam/src/lib.rs
  lightyear_netcode/src/server_plugin.rs
  lightyear_steam/src/client.rs
  lightyear_steam/src/lib.rs
  lightyear_steam/src/server.rs
  lightyear_tests/Cargo.toml
  lightyear_tests/src/lib.rs
  lightyear_tests/src/multi_server/mod.rs
  lightyear_tests/src/multi_server/steam.rs
  lightyear_tests/src/stepper.rs
  lightyear_webtransport/src/server.rs
Labels: A-Netcode

#1151 Upgrade to latest bevy_enhanced_input
  Cargo.toml
  examples/bevy_enhanced_inputs/src/client.rs
  examples/bevy_enhanced_inputs/src/main.rs
  examples/bevy_enhanced_inputs/src/protocol.rs
  examples/bevy_enhanced_inputs/src/server.rs
  examples/common/src/cli.rs
  lightyear/src/shared.rs
  lightyear_inputs/Cargo.toml
  lightyear_inputs/src/client.rs
  lightyear_inputs/src/input_message.rs
  lightyear_inputs/src/plugin.rs
  lightyear_inputs/src/server.rs
  lightyear_inputs_bei/Cargo.toml
  lightyear_inputs_bei/src/input_message.rs
  lightyear_inputs_bei/src/lib.rs
  lightyear_inputs_bei/src/marker.rs
  lightyear_inputs_bei/src/plugin.rs
  lightyear_inputs_bei/src/registry.rs
  lightyear_inputs_bei/src/setup.rs
  lightyear_inputs_leafwing/src/action_state.rs
  lightyear_inputs_leafwing/src/input_message.rs
  lightyear_inputs_native/src/action_state.rs
  lightyear_inputs_native/src/input_message.rs
  lightyear_messages/src/registry.rs
  lightyear_replication/src/hierarchy.rs
  lightyear_replication/src/registry/mod.rs
  lightyear_replication/src/send/components.rs
  lightyear_tests/src/client_server/input/bei.rs
  lightyear_tests/src/protocol.rs
Labels: A-Input

#1167 feature: add websocket support
  Cargo.toml
  examples/common/Cargo.toml
  examples/common/src/cli.rs
  examples/common/src/client.rs
  examples/common/src/server.rs
  examples/common/src/shared.rs
  examples/simple_setup/src/shared.rs
  lightyear/Cargo.toml
  lightyear/src/client.rs
  lightyear/src/lib.rs
  lightyear/src/server.rs
  lightyear_inputs_bei/src/plugin.rs
  lightyear_interpolation/src/spawn.rs
  lightyear_prediction/src/spawn.rs
  lightyear_websocket/Cargo.toml
  lightyear_websocket/src/client.rs
  lightyear_websocket/src/lib.rs
  lightyear_websocket/src/server.rs
Labels: A-Transport

#1177 Fix link typo to ServerPlugins in setup.md
  book/src/tutorial/setup.md
Labels: C-Book
