Repository cBournhonesque/lightyear, pull requests merged in 2025-02, with the labels that each got.

#861 Batch sync from Confirmed to Predicted
  examples/fps/src/renderer.rs
  examples/fps/src/shared.rs
  lightyear/src/client/input/leafwing.rs
  lightyear/src/client/prediction/plugin.rs
  lightyear/src/client/prediction/predicted_history.rs
  lightyear/src/client/prediction/prespawn.rs
  lightyear/src/client/prediction/spawn.rs
  lightyear/src/protocol/component.rs
  lightyear/src/protocol/serialize.rs
  lightyear/src/server/events.rs
  lightyear/src/shared/events/connection.rs
  lightyear/src/shared/events/systems.rs
  lightyear/src/shared/replication/delta.rs
  lightyear/src/shared/replication/hierarchy.rs
  lightyear/src/shared/replication/receive.rs
  lightyear/src/utils/avian2d.rs
  lightyear/src/utils/avian3d.rs
Labels: A-Prediction, C-Usability

#862 fix ReplicateOnce components not being replicated to new clients
  lightyear/src/server/replication.rs
  lightyear/src/tests/stepper.rs
Labels: C-Bug, A-Replication

#864 Use dynamic system param for message events
  lightyear/src/client/connection.rs
  lightyear/src/client/input/leafwing.rs
  lightyear/src/client/message.rs
  lightyear/src/client/prediction/rollback.rs
  lightyear/src/client/prediction/spawn.rs
  lightyear/src/protocol/event.rs
  lightyear/src/protocol/message.rs
  lightyear/src/server/connection.rs
  lightyear/src/server/input/leafwing.rs
  lightyear/src/server/input/native.rs
  lightyear/src/server/message.rs
  lightyear/src/shared/input/native.rs
  lightyear/src/shared/replication/resources.rs
Labels: C-Performance

#872 Avoid panic when using PrePredicted in HostServer mode
  lightyear/src/client/prediction/pre_prediction.rs
  lightyear/src/server/prediction.rs
Labels: C-Bug, A-Prediction

#873 Simplify HostServer configuration
  examples/auth/src/shared.rs
  examples/common/src/app.rs
  examples/common/src/client_renderer.rs
  examples/common/src/shared.rs
  examples/fps/src/renderer.rs
  examples/fps/src/shared.rs
  examples/lobby/src/shared.rs
  examples/simple_setup/src/shared.rs
  examples/spaceships/src/server.rs
  lightyear/src/client/networking.rs
  lightyear/src/client/plugin.rs
  lightyear/src/client/prediction/despawn.rs
  lightyear/src/client/prediction/pre_prediction.rs
  lightyear/src/client/run_conditions.rs
  lightyear/src/client/sync.rs
  lightyear/src/lib.rs
  lightyear/src/server/input/leafwing.rs
  lightyear/src/server/networking.rs
  lightyear/src/server/plugin.rs
  lightyear/src/server/prediction.rs
  lightyear/src/shared/config.rs
  lightyear/src/shared/identity.rs
  lightyear/src/shared/mod.rs
  lightyear/src/shared/plugin.rs
  lightyear/src/shared/run_conditions.rs
  lightyear/src/tests/host_server_stepper.rs
  lightyear/src/tests/integration/tick_wrapping.rs
  lightyear/src/transport/webtransport/mod.rs
Labels: C-Usability

#876 Fix examples
  examples/avian_3d_character/src/server.rs
  examples/avian_physics/src/server.rs
  examples/delta_compression/src/shared.rs
  examples/interest_management/src/server.rs
  examples/lobby/src/client.rs
  examples/lobby/src/main.rs
  examples/lobby/src/server.rs
  examples/simple_box/src/shared.rs
  examples/simple_setup/src/shared.rs
  examples/spaceships/src/client.rs
  examples/spaceships/src/renderer.rs
  examples/spaceships/src/server.rs
  lightyear/src/connection/netcode/server.rs
  lightyear/src/inputs/native/input_buffer.rs
  lightyear/src/protocol/message/client.rs
  lightyear/src/protocol/message/server.rs
  lightyear/src/server/input/leafwing.rs
  lightyear/src/server/input/native.rs
Labels: C-Example

#877 Update ClientCommands and ServerCommands to work on World
  examples/lobby/src/client.rs
  lightyear/src/client/networking.rs
  lightyear/src/connection/netcode/client.rs
  lightyear/src/connection/netcode/server.rs
  lightyear/src/lib.rs
  lightyear/src/server/clients.rs
  lightyear/src/server/networking.rs
  lightyear/src/tests/host_server_stepper.rs
  lightyear/src/tests/multi_stepper.rs
  lightyear/src/tests/stepper.rs
Labels: C-Usability

#881 Simplify prespawning using observers
  lightyear/src/client/prediction/plugin.rs
  lightyear/src/client/prediction/prespawn.rs
  lightyear/src/connection/netcode/client.rs
  lightyear/src/inputs/native/input_buffer.rs
  lightyear/src/server/prediction.rs
  lightyear/src/server/replication.rs
  lightyear/src/shared/sets.rs
  lightyear/src/utils/avian2d.rs
  lightyear/src/utils/avian3d.rs
Labels: A-Prediction

#887 Add RequiredComponents for replication components
  examples/avian_3d_character/src/server.rs
  examples/avian_3d_character/src/settings.rs
  examples/avian_physics/src/protocol.rs
  examples/avian_physics/src/server.rs
  examples/common/src/app.rs
  examples/simple_box/src/server.rs
  lightyear/src/client/prediction/plugin.rs
  lightyear/src/client/prediction/prespawn.rs
  lightyear/src/client/replication.rs
  lightyear/src/lib.rs
  lightyear/src/server/networking.rs
  lightyear/src/server/prediction.rs
  lightyear/src/server/replication.rs
  lightyear/src/shared/replication/components.rs
  lightyear/src/shared/replication/entity_map.rs
  lightyear/src/shared/sets.rs
  lightyear/src/utils/avian2d.rs
  lightyear/src/utils/avian3d.rs
Labels: A-Replication, C-Usability

#889 Clean up prediction_despawn using Disabled Marker
  examples/fps/src/renderer.rs
  examples/fps/src/shared.rs
  examples/simple_box/src/server.rs
  examples/spaceships/src/renderer.rs
  examples/spaceships/src/shared.rs
  lightyear/src/client/components.rs
  lightyear/src/client/input/leafwing.rs
  lightyear/src/client/interpolation/plugin.rs
  lightyear/src/client/prediction/despawn.rs
  lightyear/src/client/prediction/plugin.rs
  lightyear/src/client/prediction/predicted_history.rs
  lightyear/src/client/prediction/prespawn.rs
  lightyear/src/client/prediction/rollback.rs
  lightyear/src/client/replication.rs
  lightyear/src/connection/steam/server.rs
  lightyear/src/lib.rs
  lightyear/src/protocol/component.rs
  lightyear/src/server/connection.rs
  lightyear/src/server/replication.rs
  lightyear/src/shared/replication/plugin.rs
  lightyear/src/shared/replication/prespawn.rs
  lightyear/src/transport/websocket/server.rs
  lightyear/src/transport/webtransport/server.rs
Labels: A-Prediction

#892 Replace `ReplicateOnce<C>` with `ReplicateOnce`
  examples/delta_compression/src/protocol.rs
  lightyear/src/client/components.rs
  lightyear/src/client/input/leafwing.rs
  lightyear/src/client/replication.rs
  lightyear/src/lib.rs
  lightyear/src/protocol/component.rs
  lightyear/src/server/replication.rs
  lightyear/src/shared/replication/archetypes.rs
  lightyear/src/shared/replication/components.rs
Labels: A-Replication

#895 Network triggers with targets
  lightyear/src/client/message.rs
  lightyear/src/protocol/message/trigger.rs
  lightyear/src/protocol/serialize.rs
  lightyear/src/server/message.rs
Labels: A-Replication

#898 Refactor rollback into its own Plugin
  lightyear/src/client/connection.rs
  lightyear/src/client/message.rs
  lightyear/src/client/networking.rs
  lightyear/src/client/prediction/plugin.rs
  lightyear/src/client/prediction/rollback.rs
  lightyear/src/lib.rs
  lightyear/src/protocol/component.rs
  lightyear/src/protocol/component/delta.rs
  lightyear/src/protocol/component/interpolation.rs
  lightyear/src/protocol/component/mod.rs
  lightyear/src/protocol/component/prediction.rs
  lightyear/src/protocol/component/registry.rs
  lightyear/src/protocol/component/replication.rs
  lightyear/src/protocol/delta.rs
  lightyear/src/protocol/mod.rs
  lightyear/src/server/connection.rs
  lightyear/src/server/message.rs
  lightyear/src/server/networking.rs
  lightyear/src/shared/replication/receive.rs
Labels: A-Prediction

#900 Cache prediction archetypes
  lightyear/src/client/prediction/archetypes.rs
  lightyear/src/client/prediction/mod.rs
  lightyear/src/client/prediction/rollback.rs
Labels: A-Prediction, C-Performance

#901 switch to dedicated component PredictionDisable
  lightyear/src/client/prediction/despawn.rs
  lightyear/src/client/prediction/plugin.rs
  lightyear/src/client/prediction/prespawn.rs
  lightyear/src/client/prediction/rollback.rs
  lightyear/src/client/replication.rs
Labels: A-Prediction

#902 Remove confusing duplicate replication interval settings
  examples/common/src/app.rs
  examples/spaceships/src/main.rs
  lightyear/src/client/interpolation/plugin.rs
  lightyear/src/client/replication.rs
  lightyear/src/server/plugin.rs
  lightyear/src/server/replication.rs
  lightyear/src/shared/config.rs
  lightyear/src/shared/replication/plugin.rs
  lightyear/src/shared/replication/send.rs
Labels: A-Interpolation, C-Usability

#913 Improve correction and add test
  lightyear/src/client/prediction/correction.rs
  lightyear/src/client/prediction/plugin.rs
  lightyear/src/client/prediction/predicted_history.rs
  lightyear/src/client/prediction/prespawn.rs
  lightyear/src/client/prediction/rollback.rs
  lightyear/src/tests/protocol.rs
Labels: A-Prediction, A-Interpolation

#916 Add option to exclude an entity from rollback
  lightyear/src/client/prediction/rollback.rs
Labels: A-Prediction

#919 Fix system ordering with avian + correction
  lightyear/src/client/interpolation/visual_interpolation.rs
  lightyear/src/client/prediction/correction.rs
  lightyear/src/client/prediction/plugin.rs
  lightyear/src/client/prediction/rollback.rs
  lightyear/src/utils/avian2d.rs
  lightyear/src/utils/avian3d.rs
Labels: A-Prediction, A-Interpolation

#917 Add test for multiple prespawn entities with the same hash
  lightyear/src/client/prediction/prespawn.rs
Labels: A-Prediction

#923 Update latest_tick correctly in receive_update
  lightyear/src/client/prediction/correction.rs
  lightyear/src/client/prediction/plugin.rs
  lightyear/src/client/prediction/rollback.rs
  lightyear/src/shared/replication/receive.rs
Labels: A-Prediction, A-Replication

#925 Do not rollback on initial Confirmed spawn
  lightyear/src/client/prediction/plugin.rs
  lightyear/src/client/prediction/prespawn.rs
  lightyear/src/client/prediction/rollback.rs
  lightyear/src/shared/replication/receive.rs
Labels: A-Prediction

#928 Apply TickEvent to Correction
  lightyear/src/client/prediction/correction.rs
  lightyear/src/client/prediction/predicted_history.rs
  lightyear/src/client/prediction/rollback.rs
  lightyear/src/utils/history_buffer.rs
Labels: A-Prediction
